@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content

.background
    position: fixed 
    top: 0px
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.8)
    z-index: 5000
    display: none
    &.opened
        display: block
    .modal
        width: 600px
        height: 140px
        background-color: black
        margin: 0px auto
        position: relative
        margin-top: 400px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        @include m-desk
            height: 100px
            width: 450px
            margin-top: 250px
        @include mobile
            width: 300px
            margin-top: 250px
            height: 80px
        .question, .answer
            text-align: center
            color: white
            box-sizing: border-box
        .answer
            cursor: pointer
            font-size: 30px
            height: 100%
            width: 180px
            font-family: 'stolzl'
            padding-top: calc((140px - 30px)/2)
            transition: 0.4s
            @include m-desk
                width: 100px
                font-size: 22px 
                padding-top: calc((100px - 22px)/2)
            @include mobile
                font-size: 20px 
                padding-top: calc((80px - 20px)/2)
            &:hover
                transform: scale(1.1, 1.1)
        .question
            font-size: 
            font-family: 'stolzl-l'
            width: 240px
            font-size: 14px
            padding-top: calc((140px - 30px)/2)
            @include m-desk
                font-size: 13px
                padding-top: calc((100px - 22px)/2)
            @include mobile
                font-size: 12px 
                padding-top: 20px