<div class="background" [ngClass]="open ? 'opened':''">
    <div class="modal">
        <div class="answer yes" (click)="yes()">
            Да
        </div>

        <div class="question">
            {{ text }}
        </div>

        <div class="answer yes" (click)="no()">
            Нет
        </div>        
    </div>
</div>