<div class="body">
    <div class="opacity-logo">
        <img src="../assets/images/opacity-logo.png">
    </div>
    <div class="text">
        Мобильная версия сайта на данный момент в процессе разработки.
    </div>
</div>