.body 
    position: absolute
    height: 100%
    width: 100%
    background: url('../../../assets/images/mob-texture.png')
    background-size: cover !important
    background-repeat: no-repeat !important
    .opacity-logo
        position: relative
        height: 220px
        width: 320px
        margin: 0px auto
        top: calc((100% - 220px)/2)
        img
            height: 100%
            width: 100%
    .text
        color: white
        font-size: 12px
        font-family: 'stolzl'
        text-align: center
        position: absolute
        padding-left: 25%
        padding-right: 25%
        padding-top: 0px
        line-height: 16px
        top: calc((100% - 50px)/2)
