@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.cont
    width: 100%
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .size
        box-sizing: border-box
        height: 22px
        width: 22px
        border: 1px solid #787878
        text-align: center
        margin-top: 15px
        margin-left: 20px
        border-radius: 2px
        font-size: 14px
        color: #787878
        padding-top: 5px
        font-family: 'helvetica'
        cursor: pointer
        user-select: none
        @include m-desk
            width: 20px 
            height: 20px
            font-size: 13px
            padding-top: 5px
            margin-left: 15px
        @include mobile 
            width: 20px 
            height: 20px
            font-size: 13px
            padding-top: 5px
            margin-left: 15px
        &.active
            color: black
            border: 1px solid black
        &:nth-child(1), &:nth-child(5), &:nth-child(9), &:nth-child(13)
            margin-left: 0px 