@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.diapazon
    height: 13px
    width: 160px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    margin-top: 20px
    @include m-desk
        width: 130px
        font-size: 13px
        margin-top: 9px
    .price
        width: auto
        font-size: 15px
        font-family: 'helvetica'
.cont
    width: 160px
    height: 20px
    @include m-desk
        width: 130px
        height: 15px
    &::ng-deep .ng5-slider-limit, &::ng-deep .ng5-slider-bubble 
        display: none 
    &::ng-deep .ng5-slider
        top: -20px
    &::ng-deep .ng5-slider-bar
        height: 3px
        @include m-desk
            height: 1.5px
    &::ng-deep .ng5-slider-selection
        background-color: black
    &::ng-deep .ng5-slider-pointer
        background-color: white !important
        border: 1px solid black
        height: 20px
        width: 20px
        top: -10px
        outline: none
        @include m-desk
            top: -7px
            height: 15px 
            width: 15px
        &::after
            display: none