<div class="diapazon">
    <div class="price">{{ value['minValue'] }} р</div>
    <div class="price">{{ value['maxValue'] }} р</div>
</div>

<div class="cont">
   <ng5-slider (userChangeEnd)="change($event)" [(value)]="value['minValue']" [(highValue)]="value['maxValue']" [options]="options">
   </ng5-slider>
</div>