@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content


a
    text-decoration: none !important
.container
    position: absolute
    height: calc(905px)
    width: 100%
    @include m-desk
        height: 680px
    @include mobile
        top: 0
        z-index: 2000
    .body
        top: -65px
        z-index: 100
        height: calc(100% - 60px)
        width: 100%
        position: relative
        background-color: #292A2B
        @include m-desk
            height: calc(100% + 50px)
        .form-cont
            margin: 0px auto
            background-color: white
            position: relative
            width: 740px
            height: 550px
            top: 140px
            @include mobile
                width: 320px
                top: 180px
                height: 360px
            @include m-desk
                width: 550px
                height: 400px            
            .title
                color: black
                padding-top: 25px
                font-family: 'stolzl'
                font-size: 34px
                text-align: center
                @include m-desk
                    font-size: 22px
            form
                height: auto
                width: 360px
                margin: 0px auto
                margin-top: 50px
                @include m-desk
                    margin-top: 30px
                    width: 250px
                @include mobile
                    width: 200px
                    margin-top: 0px
                .submit
                    height: 50px
                    width: 100%
                    background-color: black
                    color: white
                    text-align: center
                    box-sizing: border-box
                    padding-top: 15px
                    font-size: 17px
                    margin-top: 100px
                    font-family: 'stolzl-l'
                    cursor: pointer
                    user-select: none
                    @include m-desk
                        height: 35px
                        font-size: 14px
                        padding-top: 10px
                        margin-top: 50px
                    @include mobile
                        font-size: 12px
                        width: 145px
                        margin: 0px auto 
                        margin-top: 50px
                        height: 35px
                        padding-top: 11px
                .link 
                    padding-top: 25px
                    font-size:  17px
                    color: #3f3f3f
                    text-align: center
                    font-family: 'helvetica'
                    @include m-desk
                        font-size: 15px
                        padding-top: 15px
                    @include mobile
                        font-size: 14px
                        padding-top: 8px

        .lion
            position: absolute
            // background-color: grey
            top: 100px
            height: 700px
            width: 300px
            @include mobile
                width: 135px
                height: 313px
                top: 200px
            &.right
                right: 0
                img
                    transform: rotateY(180deg)
            img
                height: 100%
                width: 100%

    footer::ng-deep
        margin-top: -75px
        @include m-desk
            margin-top: -40px
