<dialog-window [text]="'Вы успешно вошли, сейчас вы будете перенаправлены на главную страницу'" [open]="isLogined" (accepted)="redirect()">
</dialog-window>

<dialog-window [text]="'Проверьте корректно ли введены данные'" [open]="isFailed" (accepted)="isFailed = false">
</dialog-window>


<div class="container">
    <div class="body">
        <div class="lion">
            <img src="../../assets/images/lion.png">
        </div>
        <div class="lion right">
            <img src="../../assets/images/lion.png">
        </div>


        <div class="form-cont">
            <div class="title">Вход</div>    
            <form class="form">
                
                <binput [data]="FormData" [placeholder]="'E-mail'" [field]="'login'" [type]="'text'" [name]="'Bemail'"></binput>

                <binput [data]="FormData" [placeholder]="'Password'" [type]="'password'" [field]="'password'" [name]="'password'"></binput>
                
                <div class="submit" (click)="onSubmit()">Войти</div>
                <a routerLink="/register">
                    <div class="link">Зарегестрироваться</div> 
                </a>
            </form>
        </div>

    </div>
    <footer></footer>
</div>