<div class="background" [ngClass]="open ? 'opened':''">
    <div class="modal">
        <div class="answer yes" (click)="yes()">
            Ок
        </div>

        <div class="question">
            {{ text }}
        </div>

        <div class="answer yes">
            <div class="icon">
                <img src="../../assets/icons/error-w.svg">
            </div>
        </div>        
    </div>
</div>