<div class="noactive-place" (click)="closeTableAction()" [ngClass]="openTable ? 'open':''">
    
</div>

<div class="table-cont" [ngClass]="openTable ? 'open':''">
    <div class="close" (click)="closeTableAction()">
        <img src="../../assets/icons/close-bl.svg">
    </div>

    <div class="title">
        Таблица размеров
    </div>
    <table class="size-table">
        <tr>
            <th>Размер</th>
            <th>Длина стопы(см)</th>
        </tr>
        <tr *ngFor="let size of tableSizes">
            <td>{{ size.size }}</td>
            <td>{{ size.len }}</td>
        </tr>
    </table>

    <div class="ok" (click)="closeTableAction()">Хорошо</div>

    <div class="empty"></div>
</div>
