@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.empty
    height: 60px
    width: 100%
    display: none
    @include mobile
        display: block
.noactive-place
    z-index: 3200
    position: absolute 
    height: 100%
    width: 100%    
    top: 0px
    background-color: rgba(0, 0, 0, 0.5)
    display: none
    &.open
        display: block
    @include mobile
        position: fixed      
.table-cont
    position: absolute
    height: 100%
    width: 400px
    z-index: 3500
    top: 0px
    transform: translateX(400px)
    background-color: white
    right: 0px   
    transition: 0.4s
    @include m-desk
        width: 350px
    @include mobile
        z-index: 6000
        position: fixed
        width: 100%
        overflow-y: scroll
    &.open
        transform: translateX(0px)
    .close
        cursor: pointer
        position: absolute
        height: 35px
        width: 35px
        top: 30px
        right: 30px
        @include m-desk
            height: 20px
            width: 20px
            top: 15px
            right: 15px
        @include mobile
            height: 25px 
            width: 25px 
            top: 10px 
            right: 10px
        img
            height: 100%
            width: 100%
    .title
        text-align: center
        font-size: 19px
        font-family: 'stolzl'
        padding-top: 90px
        @include m-desk
            padding-top: 50px
            font-size: 15px
        @include mobile
            padding-top: 30px
    table
        margin: 0px auto
        margin-top: 25px
        position: relative
        width: 280px
        border-spacing: 0px
        @include m-desk
            width: 250px
            margin-top: 15px 
        td, th 
            border: 1px solid #D8D8D8
            width: 50%
            font-size: 13px
            font-family: 'helvetica'
            height: 50px
            text-align: center
            @include m-desk
                height: 30px
            @include mobile
                height: 45px
                font-size: 12px
        td
            color: black
        th
            background-color: black
            color: white
    .ok
        background-color: black
        text-align: center
        font-family: helvetica
        color: white
        box-sizing: border-box
        font-size: 17px
        cursor: pointer
        margin: 0px auto
        margin-top: 25px
        position: relative
        width: 280px
        margin-top: 20px
        height: 50px 
        padding-top: 16px
        @include m-desk
            width: 250px
            height: 35px
            font-size: 15px
            padding-top: 10px
        @include mobile
            height: 45px
