<div class="cont">
    <div class="color" 
        [ngClass]="[
            color.active ? 'active':'',
            color.name == 'red' ? 'red':'',
            color.name == 'white' ? 'white':'',
            color.name == 'black' ? 'black':'',
            color.name == 'bej' ? 'bej':'',
            color.name == 'blue' ? 'blue':'',
            color.name == 'violet' ? 'violet':''
        ]"
        *ngFor="let color of colors" (click)="activate(color)"
    >
        <div *ngIf="color.name != 'white'">
            <img draggable="false" src="../../assets/icons/check-white.svg">
        </div>
        <div *ngIf="color.name == 'white'">
            <img draggable="false" src="../../assets/icons/check.svg">
        </div>        
    </div>
</div>