@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content


.cont
    width: 100%
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .color
        margin-left: 23px
        margin-top: 15px
        height: 38px
        width: 38px
        border-radius: 50%
        box-sizing: border-box
        border: 1px solid black
        cursor: pointer
        transition: 0.3s
        user-select: none
        user-drag: none
        img
            display: none
            @include m-desk
                margin-top: 0px 
                margin-left: 0px
        @include m-desk
            height: 26px
            width:  26px
            margin-left: 14px
            margin-top: 7px
        @include mobile
            height: 30px
            width: 30px 
            margin-left: 14px
            margin-top: 10px 
        &.active
            border: 2px solid #A3A3A3
            img
                display: block
                height: 100%
                width: 100%
                opacity: 1
                margin-top:  -2px
                margin-left: -2px
                @include m-desk
                    margin-top: 0px 
                    margin-left: 0px
        &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10)
            margin-left: 0px
        &.red
            background-color: #B83939
        &.white
            background-color: white
        &.bej
            background-color: #CCB6A7
        &.blue
            background-color: #1C2F4C
        &.violet
            background-color:  #4D4C72
        &.black
            background-color: black
        img
            opacity: 0
            transition: 0.3s

