@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content

a
    text-decoration: none !important

.header
    display: none
    @include mobile
        display: block
        height: 30px
        width: 100%
    h1
        font-size: 24px
        font-family: century
        text-align: center
        font-weight: 300
    .line
        width: calc(50% - 60px)
        top: 0px
        height: 2px 
        background-color: black
        position: absolute
        margin-top: 30px
        &.right
            right: 0px

.scroll-content
    position: absolute
    width: 100%
    height: auto
.container
    height: auto
    width: 1050px
    margin: 0px auto
    position: relative 
    top: 15px
    @include m-desk
        width: 800px
    @include mobile
        width: 320px
    .empty
        height: 500px
        width: 100%
        text-align: center
        box-sizing: border-box
        font-family: 'stolzl-l'
        @include m-desk
            height: 350px
        .text
            font-size: 35px
            padding-top: 200px
            @include mobile
                padding-top: 125px
        .desc
            font-size: 16px 
            padding-top: 30px
            padding-left: 75px 
            padding-right: 75px
            @include mobile
                padding-right: 25px
                padding-left: 25px
                line-height: 20px
                padding-top: 75px
            a
                font-family: 'stolzl'
                color: #5195E1
    .order-el
        background-color: #F8F5F7
        width: 100%
        height: 215px
        margin-top: 35px
        box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.25)
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        @include m-desk
            height: 175px
        @include mobile
            height: 145px
            margin-top: 25px
        .img
            width: 360px
            min-width: 360px
            max-width: 360px
            height: 100%
            background-size: cover !important
            background-repeat: no-repeat !important
            background-position-y: 60% !important
            @include m-desk
                width: 250px
                min-width: 250px
                max-width: 250px
            @include mobile
                // height: 145px
                width: 145px
                min-width: 145px
                max-width: 145px                
        .info-cont
            width: 100%
            height: 100%
            .name, .price, .sale-price, .attrs-cont
                text-align: center
            .name
                padding-top: 15px
                font-family: 'century'
                font-size:  34px
                @include m-desk
                    font-size: 22px
                    padding-top: 10px
                @include mobile
                    font-size: 18px
            .price
                padding-top: 20px
                font-family: 'tenor'
                font-size: 17px
                @include m-desk
                    padding-top: 15px 
                    font-size: 15px
                @include mobile
                    font-size: 12px
                    padding-top: 7px
                &.grey 
                    padding-top: 10px 
                    font-size: 15px
                    color: #808080
                    text-decoration: line-through
                    @include m-desk
                        font-size: 13px
                        padding-top: 7px
                    @include mobile
                        padding-top: 5px
                        font-size: 11px
            .sale-price
                padding-top: 10px
                font-family: 'tenor'
                font-size: 18px 
                @include mobile
                    font-size: 12px
                    padding-top: 5px
            .counter
                position: relative
                margin: 0px auto
                height: 20px
                width: 66px
                display: flex 
                flex-direction: row 
                flex-wrap: nowrap
                justify-content: space-between
                margin-top: 10px 
                .count
                    height: 20px
                    width: 20px 
                    background-color: white
                    text-align: center
                    font-size: 13px
                    font-family: 'tenor'
                    padding-top: 3px
                .butt
                    cursor: pointer
                    height: 14px 
                    width: 14px
                    margin-top: 3px 
                    img
                        height: 100%
                        width: 100%       
            .attrs-cont
                width: 75px
                height: 30px
                margin: 0px auto
                margin-top: 20px
                display: flex 
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                @include m-desk
                    width: 50px
                    height: 22px
                @include mobile
                    height: 17px 
                    width: 42px
                    margin-top: 4px
                .color, .size
                    height: 30px 
                    width: 30px
                    cursor: pointer
                    @include m-desk
                        height: 21px
                        width: 21px
                    @include mobile
                        height: 17px 
                        width:  17px
                .color
                    border-radius: 50%
                    border: 1.5px solid #C2DEFF
                    background-color: grey
                    &.red
                        background-color: #B83939
                    &.white
                        background-color: white
                    &.bej
                        background-color: #CCB6A7
                    &.blue
                        background-color: #1C2F4C
                    &.violet
                        background-color:  #4D4C72
                    &.black
                        background-color: black                    
                .size
                    user-select: none
                    border-radius: 5px 
                    border: 2px solid black
                    text-align: center
                    box-sizing: border-box
                    padding-top:
                    font-size: 18px 
                    padding-top: 3px
                    font-family: 'tenor'
                    @include m-desk
                        font-size: 13px
                        padding-top: 2px
                    @include mobile
                        font-size: 12px
                        border-width: 1px
                        padding-top: 2px
        .close
            height: 25px
            width:  25px
            margin-top: 27px 
            right: 27px
            position: absolute
            user-select: none
            cursor: pointer
            @include m-desk
                height: 17px 
                width: 17px
                right: 15px
                margin-top: 15px
            @include mobile
                height: 11px 
                width: 11px 
                margin-top: 7px
                right: 7px
            img
                position: relative
                height: 100%
                width: 100%
.total-price
    position: relative
    position: relative
    height: 38px
    width: fit-content
    margin: 0px auto
    margin-top: 50px
    display: flex 
    flex-direction: row 
    flex-wrap: nowrap
    @include mobile
        height: 22px
    &.is-sale
        .text
            color: black
            font-size: 34px
            @include m-desk
                font-size: 25px 
            @include mobile 
                font-size: 18px
    .text
        font-family: 'century'
        font-size: 28px
        width: initial
        color: #808080
        @include m-desk
            font-size: 20px
        @include mobile
            font-size: 21px 
    .icon
        height: 25px
        width: 25px
        margin-left: 10px
        margin-top: 5px
        @include mobile
            height: 16px
            width: 16px
        img
            height: 100%
            width: 100%
    &.saled-price
        margin-top: 5px
        .text
            color: black
            font-size: 34px
            @include mobile
                font-size: 20px


.order
    position: relative
    height: 60px
    width: 420px
    background-color: black
    margin: 0px auto
    margin-top: 35px
    cursor: pointer
    box-sizing: border-box
    margin-bottom: 50px
    user-select: none
    @include m-desk
        margin-top: 20px
        height: 40px
        width: 300px
    @include mobile
        width: 180px 
        height: 25px
    &.disable 
        cursor: default
        background-color: grey
        &:hover
            .text
                transform: scale(1,1)        
    &:hover
        .text
            transform: scale(1.1,1.1)
    .text
        transition: 0.4s
        text-align: center
        color: white
        font-size: 18px
        padding-top: 19px
        font-family: 'stolzl-l'
        @include m-desk
            font-size: 15px 
            padding-top: 12px
        @include mobile
            font-size: 11px
            padding-top: 6px
.empty
    @include mobile
        height: 50px
        width: 100%
