<modal-window [text]="'Вы действительно хотите удалить модель?'" [open]="busketService.getCall()" (canceled)="busketService.cancelCall()" (accepted)="deleteOrder(busketService.selectedOrder)">
</modal-window>

<div class="scroll-content">
    <div class="header">
        <div class="line"></div>
        <h1>Корзина</h1>
        <div class="line right"></div>
    </div>
    
    <div class="container">

        <div class="empty" *ngIf="orders.length == 0">
            <div class="text">
                Корзина пуста
            </div>
            <div class="desc">
                Извините, но ваша корзина пустая. Вы можете перейти к <a [routerLink]="['/catalog']">списку товаров</a> и выбрать для себя стоящий вариант обуви!
            </div>
        </div>
        <div class="order-el" *ngFor="let order of orders">
            <div class="img" [style.background]="'url('+ host + order.object.images[0] + ')'"></div>

            <div class="info-cont">
                <div class="name">
                    {{ order.object.name }}
                </div>
                <div class="price"
                    [ngClass]="[
                        order.object.isSale ? 'grey':''
                    ]"
                >
                    {{ order.object.price }} руб.
                </div>
                <div class="sale-price" *ngIf="order.object.isSale">
                    {{ order.object.priceSale }} руб.
                </div>
                <div class="attrs-cont">
                    <div class="color"
                        [ngClass]="[
                            order.object.activeColor == 'red' ? 'red':'',
                            order.object.activeColor == 'white' ? 'white':'',
                            order.object.activeColor == 'black' ? 'black':'',
                            order.object.activeColor == 'bej' ? 'bej':'',
                            order.object.activeColor == 'blue' ? 'blue':'',
                            order.object.activeColor == 'violet' ? 'violet':''
                        ]"
                    >
                    </div>
                    <div class="size">
                        {{ order.object.activeSize }}
                    </div>
                </div>

                <div class="counter">
                    <div class="butt" (click)="decrement(order)">
                        <img src="../../assets/icons/minus-b.svg">
                    </div>

                    <div class="count">
                        {{ order.count }}
                    </div>

                    <div class="butt" (click)="increment(order)">
                        <img src="../../assets/icons/plus-b.svg">
                    </div>                    
                </div>
            </div>

            <div class="close" (click)="busketService.callModal(order)">
                <img src="../../assets/icons/close-g.svg">
            </div>
        </div>

    </div>
    <div *ngIf="orders.length != 0" class="total-price" [ngClass]="isSale ? '':'is-sale'">
        <div class="text">
            Итого: {{ totalPrice | number:'0.2' }} 
        </div> 
        <div class="icon" *ngIf="isSale">
            <img src="../../assets/icons/rub-g.svg">
        </div>
        <div class="icon" *ngIf="!isSale">
            <img src="../../assets/icons/rub.svg">
        </div>        
    </div>
    <div  class="total-price saled-price" *ngIf="isSale">
        <div class="text">
            Цена со скидкой: {{ saledPrice | number:'0.2' }} 
        </div> 
        <div class="icon">
            <img src="../../assets/icons/rub.svg">
        </div>
    </div>

    <a  [routerLink]="['/ordering']" *ngIf="orders.length > 0">
        <div class="order">
            <div class="text">
                Оформить заказ
            </div>
        </div>
    </a>

    <div class="empty"></div>
</div>