@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.footer
    height: 150px
    width: 100%
    background-color: white
    @include m-desk
        height: 100px
    @include mobile
        height: 180px
        display: flex
        flex-direction: column
        margin-top: 100px
    .lion
        margin-top: -5px
        display: none
        height: 180px
        width: 82px
        // background-color: black
        position: absolute
        img 
            height: 100%
            width: 100%
        &.right
            right: 0px
            img
                transform: rotateY(180deg)
        @include mobile
            display: block
    .soc-lines
        position: absolute
        height: 42px
        width: 230px
        margin-top: 54px
        right: 80px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        @include m-desk
            width: 180px
            right: 50px
            margin-top: 35px
        @include mobile
            position: relative
            margin: 0px auto
            margin-top: 17px
            left: 0px 
            right: 0px
            width: 152px 
            height: 28px
        .icon
            height: 42px 
            width: 42px
            cursor: pointer
            transition: 0.3s
            &:hover
                transform: scale(1.1,1.1)
            img
                height: 100%
                width: 100%
            @include m-desk
                height: 30px
                width: 30px
            @include mobile
                height: 28px
                width: 28px                
    .payments
        position: absolute
        height: 95px
        width: 305px
        left: calc((100% - 305px)/2)
        margin-top: 27px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        @include m-desk
            width: 230px
            height: 70px
            margin-top: 10px
            left: calc((100% - 230px)/2)
        @include mobile
            position: relative
            margin: 0px auto
            margin-top: 14px
            width: 155px
            height: 52px
            left: 0px    
        .text
            height: 100%
            width: 182px
            font-family: 'roboto-l'
            font-weight: 600
            font-size: 18px
            padding-top: calc((95px - 18px)/2)
            @include m-desk
                font-size: 14px
                padding-top: calc((70px - 14px)/2)
            @include mobile
                font-size: 10px
                padding-top: calc((52px - 10px)/2)
        .methods
            width: 120px 
            height: 100%
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            @include m-desk
                width: 80px
            @include mobile
                width: 100px
                height: 52px
            .met
                // background-color: grey
                width: 48px
                height: 48px
                @include m-desk
                    width: 32px
                    height: 32px
                @include mobile
                    height: 24px
                    width: 24px
                img
                    height: 100%
                    width: 100%
    .partner
        font-family: 'roboto-l'
        font-size: 18px
        position: absolute
        width: 360px
        height: 20px 
        margin-top: 64px
        left: 80px
        @include m-desk
            margin-top: 35px
            left: 60px
            font-size: 14px
        @include mobile
            position: relative  
            width: 100%
            height: 10px
            margin-top: 16px
            text-align: center
            left: 0px
            font-size: 12px       
        span
            font-weight: 600
            font-size: 19px
            font-size: 13px