<div class="footer">
    <div class="lion">
        <img src="../../assets/images/lion-w.png">
    </div>
    <div class="lion right">
        <img src="../../assets/images/lion-w.png">
    </div>    

    <div class="payments">
        <div class="text">Способы оплаты:</div>
        <div class="methods">
            <div class="met">
                <img src="../../assets/icons/visa.svg">
            </div>
            <div class="met">
                <img src="../../assets/icons/mastercard.svg">
            </div>
            <div class="met">
                <img src="../../assets/icons/android.svg">
            </div>
            <div class="met">
                <img src="../../assets/icons/apple.svg">
            </div>
        </div>    
    </div>
    
    <div class="soc-lines">
        <a href="https://vk.com/bondarrus" target="blank">
            <div class="icon">
                <img src="../../assets/icons/vk.svg">
            </div>
        </a>
        <a href="https://www.instagram.com/bondar_russia/" target="blank">
            <div class="icon">
                <img src="../../assets/icons/instagram.svg">
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=79094328264" target="blank">
            <div class="icon">
                <img src="../../assets/icons/whatsapp.svg">
            </div>
        </a>
        <a href="viber://chat?number=79094328264">
            <div class="icon">
                <img src="../../assets/icons/viber.svg">
            </div>
        </a>
    </div>
    
        <div class="partner">
        Надежный партнёр <span>© Бондаръ</span>
    </div>

</div>