<dialog-window [text]="'Ваш заказ успешно принят. Ждите звонка менеджера!'" [open]="isUpdated" (accepted)="redirect()">
</dialog-window>

<div class="background">
    <div class="lion">
        <img src="../../assets/images/lion.png">
    </div>

    <div class="lion right">
        <img src="../../assets/images/lion.png">
    </div>    

    <div class="form-container">
        <div class="box">
            <form [formGroup]="complexForm" (ngSubmit)="onSubmit(complexForm.value)">
                <div class="title">Оформление заказа</div>
                <p class="desc">
                    При подтверждении, проверьте корректно ли заполнены данные. Так ваш заказ точно доедет именно до вас.
                </p>

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Фамилия'" [field]="'last_name'" [type]="'text'" [name]="'last_name'" [fontSize]="20"></fcinput>  

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Имя'" [field]="'first_name'" [type]="'text'" [name]="'first_name'" [fontSize]="20"></fcinput>  

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Отчество'" [field]="'middle_name'" [type]="'text'" [name]="'middle_name'" [fontSize]="20"></fcinput>   

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Почтовый индекс'" [field]="'post_index'" [type]="'text'" [name]="'post_index'" [fontSize]="20"></fcinput>   

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Регион, область'" [field]="'region'" [type]="'text'" [name]="'region'" [fontSize]="20"></fcinput>

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Город'" [field]="'city'" [type]="'text'" [name]="'city'" [fontSize]="20"></fcinput>

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Улица, номер дома'" [field]="'street_data'" [type]="'text'" [name]="'street_data'" [fontSize]="20"></fcinput>                                                                                  
                <fcinput [data]="complexForm.controls" [placeholder]="'Квартира, подьезд, этаж'" [field]="'flat_data'" [type]="'text'" [name]="'flat_data'" [fontSize]="20"></fcinput>                

                <select class="bond-select" [formControl]="complexForm.controls['delivery_way']" >
                    <div class="arrow"></div>
                    <option class="placeholder" disabled selected value> Выберите cпособ доставки <sup>*</sup> </option>

                    <option value="Самовывоз">Самовывоз</option>
                    <option value="Почта">Почта России</option>
                    <option value="Курьерская служба">Курьерская служба</option>
                </select>

                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Телефон'" [field]="'phone'" [type]="'text'" [name]="'phone'" [fontSize]="20"></fcinput>


                <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'E-mail'" [field]="'email'" [type]="'text'" [name]="'email'" [fontSize]="20"></fcinput>

                <button class="add-butt" type="submit" [disabled]="complexForm.invalid">
                    <div class="cont">
                        <div class="text">Оформить заказ</div>
                    </div>
                </button>                
            </form>
        </div>
    </div>
    <footer></footer>
</div>