@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content


.background
    background-color: #292A2B
    position: absolute
    width: 100%
    height: auto
    @include mobile
        top: 0px
        z-index: 2000
    .lion
        width: 30%
        height: auto
        position: absolute
        z-index: 100
        &.right
            right: 0px
            transform: rotateY(180deg)
        img 
            height: 100%
            width: 100%
    .empty
        top: 0px
        height: 172px
        width: 100%
        position: relative
    .form-container
        z-index: 500
        position: relative
        height: auto
        width: 600px
        margin: 0px auto
        top: 0px
        margin-top: 80px
        background-color: white
        bottom: 172px
        @include mobile
            width: 320px
        .box
            width: 400px
            top: 0px
            height: 100%
            position: relative
            margin: 0px auto
            @include mobile
                width: 200px
        .title
            font-family: 'stolzl'
            text-align: center
            font-size: 35px
            padding-top: 60px
            @include mobile
                font-size: 22px
                 padding-top: 45px
        .desc
            font-size: 14px
            font-family: 'helvetica'
            line-height: 18px
            @include mobile
                font-size: 12px
        .bond-select
            margin-top: 45px
            border-radius: 0px
            border: 0px solid black
            font-size: 14px
            border-bottom: 1px solid black
            font-family: 'helvetica'
            width: 100%
            height: 30px
            background-color: white
            -moz-appearance: none 
            -webkit-appearance: none
            appearance: none     
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+)               
            background-repeat: no-repeat
            background-position: calc(100% - 5px) 5px
            padding-left: 5px
            option 
                font-family: 16px
            @include mobile
                margin-top: 25px         
            .placeholder
                color: #A6A6A6
                // padding-left: 10px
        .label
            padding-left: 10px
            margin-bottom: 10px 
            color: #A6A6A6
            width: 100%
            height: 20px
            font-size: 16px 
            margin-top: 20px
            font-family: 'helvetica'            
        .add-butt
            margin-top: 45px
            width: 100%
            height: 60px
            margin-bottom: 60px
            position: relative
            background-color: black
            border: 0px solid black
            cursor: pointer
            &[disabled=disabled], &:disabled 
                background-color: grey
                cursor: default 
                &:hover
                    .cont
                        transform: scale(1,1)                   
            @include m-desk
                height: 45px
            @include mobile
                height: 25px
            &:hover
                .cont
                    transform: scale(1.1,1.1)
            .cont
                transition: 0.3s
                width: 175px
                height: 25px
                margin: 0px auto
                position: relative
                top: 6px
                .text
                    font-size: 18px
                    // padding-top: 6px
                    color: white
                    font-family: 'helvetica'
                    width: auto
                    @include mobile
                        font-size: 12px

footer::ng-deep
    margin-top: 172px
fcinput::ng-deep
    &:nth-child(1)
        .input-group
            margin-top: 45px
            @include mobile
                margin-top: 25px
    .input-group
        margin-top: 20px
        @include mobile
            margin-top: 15px
