<dialog-window [text]="'Сеанс успешно завершен'" [open]="isClicked" (accepted)="isClicked = false">
</dialog-window>

<div class="background nav-scroll">
    <img alt="marmur" src="../../assets/images/marmur-01.png">
    <div class="logo" routerLink="/">
        <img alt="logo" src="../../assets/images/fulllogo.png">
    </div>
</div>

<div class="nav-cont" [ngClass]="fixed ? 'fixed':''">
    <div class="nav-row">
        <div class="col-1 col-1-offset-2 link" [ngClass]="[pageState == 'stock' ? 'active':'']">
            <a routerLink="/stock">Акции</a>
        </div>
        <div class="col-1 link" [ngClass]="[pageState == 'catalog' ? 'active':'']">
            <a routerLink="/catalog">Каталог</a>
        </div>
        <div class="col-1 link" [ngClass]="[pageState == 'main' ? 'active':'']">
            <a routerLink="/">Главная</a>
        </div>
        <div class="col-1 link right-link" [ngClass]="[pageState == 'partners' ? 'active':'']">
            <a routerLink="/about">О нас</a>
        </div>

        <div class="col-1 col-1-offset-1 link">
            <a routerLink="/logIn" *ngIf="!tokenAuthService.userSignedIn()">Войти</a>
            <a (click)="clickLogOut()" *ngIf="tokenAuthService.userSignedIn()">Выйти</a>
        </div>
        <div class="col-1 link">
            <a routerLink="/basket">
                Корзина
                <div class="icon">
                    <img src="../../assets/icons/basket.svg">
                    <div class="count" *ngIf="busketService.getCount() > 0">
                        {{ busketService.getCount() }}
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>
