@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

$grey: #f4f4f4
$col-1-size: 11.11%

a
    cursor: pointer
    color: black
    text-decoration: none
.background
    height: 170px
    width: 100%
    z-index: 200
    position: relative
    overflow-y: hidden
    @include m-desk
        height: 130px
    @include mobile
        height: 130px
        display: flex
        align-items: center
    .logo
        cursor: pointer
        $l-width: 205px
        position: absolute
        height: 150px
        width: $l-width
        left: calc((100% - #{$l-width})/2)
        top: 10px
        @include m-desk
            width: 150px
            height: 100px
        @include mobile
            height: auto
            width: 100px
            left: calc((100% - 100px)/2)
            top: 24px
        img
            @include mobile
                height: auto        
    img
        width: 100%
        height: 100%

.nav-cont
    height: 50px
    width: 100%
    background-color: $grey
    box-shadow: 0px 1px 2px -1px  black
    position: relative
    z-index: 3000
    transition: 0.4s
    top: 0px
    @include m-desk
        height: 35px
    @include mobile 
        display: none
    &.fixed
        position: fixed
    .nav-row
        position: relative
        display: flex
        flex-direction: row 
        flex-wrap: nowrap
        height: 20px
        width: calc(100% - 100px)
        top: 15px
        margin: 0px auto
        @include m-desk
            top: 10px
            height: 15px
    .link
        text-align: center
        font-size: 18px
        position: relative
        transition: 0.4s
        &:hover
            transform: scale(1.1, 1.1)
            cursor: pointer
        @include m-desk
            font-size: 15px
        &.right-link
            // text-align: right
        &.active
            font-weight: 600
            transform: scale(1.1, 1.1)
        .icon
            position: absolute
            height: 20px 
            width: 20px
            top: 0px
            right: 0px
            .count
                position: absolute
                border-radius: 50%
                background-color: black
                color: white
                text-align: center
                box-sizing: border-box
                height: 18px 
                width: 18px                
                bottom: -8px
                right: -8px
                font-size: 13px
                padding-top: 2px
                @include m-desk
                    font-size: 12px 
                    height: 15px 
                    bottom: -5px
                    right: -5px
                    width: 15px
            img 
                height: 100%
                width: 100%
    .col-1
        height: 100%
        width: $col-1-size
        font-family: 'tenor'
    .col-1-offset-1
        margin-left: calc(#{$col-1-size} * 1)
    .col-1-offset-2
        margin-left: calc(#{$col-1-size} * 2)        
