<div (clickOutside)="unfocus()" class="input-group" (click)=" focusInput($event) ">
    <input (keyup)="onKey($event)" (keydown.tab)="unfocus()"  [style.fontSize.px]="fontSize"  (focus)="focusInput($event)" [(ngModel)]="data[field]" type="{{ type }}" name="{{ name }}" (ngModelChange)="dataChanged()"  #myInp>

    <div  [style.fontSize.px]="fontSize"  class="placeholder" [ngClass]="[isFocused ? 'active':'']">
        {{ placeholder }}
    </div>

    <div class="polygon">
        <img src="../../assets/icons/polygon.svg">
    </div>
    <div class="helper" [ngClass]="openedHelper ? 'opened':''">
        <div *ngFor="let attribute of activeAttributes">
            <div class="help-el"
                *ngIf="(attribute.name.toLowerCase() != data[field].toLowerCase())"
                (click)="selectAttribute(attribute)"
                [ngClass]="[attribute.active ? 'active':'']"
            >
                {{ attribute.name }}
            </div>
        </div>
    </div>

</div>