.input-group
    width: 100%
    height: 50px
    position: relative
    // margin-top: 60px
    input
        z-index: 3000
        background-color: #ececec
        top: 0px
        width: 100%
        padding-top: 5px
        padding-left: 10px
        font-family: 'helvetica'
        height: 30px
        background-color: white
        border: 0px solid black
        border-bottom: 2px solid black
        position: absolute
        z-index: 200
        font-size: 18px
        &:focus, &:hover
            outline: none
    input:-webkit-autofill
        background-color: white !important
    .placeholder
        z-index: 300
        height: 10px
        position: absolute
        margin-top: 15px
        margin-left: 10px
        color: #A6A6A6
        font-family: 'helvetica'
        font-size: 18px
        transition: 0.3s
        &.active 
            color: black
            transform: translate(-10px, -20px)
            font-size: 14px !important

    .polygon
        height: 12px
        width: 12px
        position: absolute
        right: -10px
        top: 13px
        z-index: 300
        img
            height: 100%
            width: 100%
.helper
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    position: absolute
    height: auto
    background-color: #F8F5F7
    z-index: 400
    width: calc(100% + 10px)
    top: 37px
    display: none
    &.opened
        display: block
    .help-el
        box-sizing: border-box
        height: 25px
        width: 100%
        border-bottom: 2px solid #ADADAD
        padding-left: 6px
        color: #333333
        font-family: 'stolzl'
        font-size: 13px
        cursor: pointer
        padding-top: 4px
        transition: 0.4s 
        &:hover, &.active
            background-color: #ececec
