<div class="body">
    <div class="content">
        <div class="lion">
            <img src="../../assets/images/lion.png">
        </div>
        <div class="lion right">
            <img src="../../assets/images/lion.png">
        </div>
        <div class="factory">
            <div class="titles">
                <div class="half big-title">БОНДАРЪ</div>
                <div class="half small-title">
                    НЕМНОГО О НАС, КАК О МОЛОДОМ ПРОИЗВОДИТЕЛЕ
                </div>
            </div>

            <div class="info-cont">
                <div class="images">
                    <div class="big-img img-01">
                        <a href="../../assets/images/factory/01.png" target="blank">
                            <img alt="bigimg" src="../../assets/images/factory/01.png">
                        </a>
                    </div>
                    <div class="img-line">
                        <div class="img img-02">
                            <a href="../../assets/images/factory/02.png" target="blank">
                                <img alt="img-01" src="../../assets/images/factory/02.png">                        
                            </a>
                        </div>
                        <div class="img img-03">
                            <a href="../../assets/images/factory/03.png" target="blank">
                                <img alt="img-02" src="../../assets/images/factory/03.png">
                            </a>
                        </div>
                        <div class="img img-04">
                            <a href="../../assets/images/factory/04.png" target="blank">
                                <img alt="img-04" src="../../assets/images/factory/04.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="texts">
                    <p class="p-01">
                        1) О нас: Бондаръ-это молодая и ежедневно развивающаяся компания. Наша команда ставит своей главной целью комфорт и качество для Вас.
                    </p>
                    <p class="p-02">
                        2) Время - В современном мире множесто забот и дел, наша компания уважает и ценит ваше время и поэтому наши курьеры доставят вам товары в любое время и место тогда, когда это будет удобно. Главный офис находится в Ростове-на-Дону и на данный момент мы ведём плотное сотрудничество с 10 городами области и еженедельно отправляется от 15-30 пар для наших клиентов по всей России, Бондаръ старается осчастливить всех желающих!
                    </p>
                    <p class="p-03">
                        3) Качество(клиеннтоориентироваанность) - Мы рады каждому довольному клиенту, благодаря вам - мы развиваемся и улучшаем нашу продукцию. Поэтому для нас на первом месте стоит качество товара. Это фундамент компании Бондаръ.                                                            
                    </p>
                </div>
            </div>
        </div>
        <div class="mobile">
            <div class="header">
                <div class="line"></div>
                <h1>О нас</h1>
                <div class="line right"></div>
            </div>
            <div class="titles">
                <div class="half big-title">БОНДАРЪ</div>
                <div class="half small-title">
                    НЕМНОГО О НАС, КАК О МОЛОДОМ ПРОИЗВОДИТЕЛЕ
                </div>
            </div>
            <div class="info-cont">
                <div class="cont cont-01">
                    <div class="img">
                        <a href="../../assets/images/factory/01.png" target="blank">
                            <img alt="img-01" src="../../assets/images/factory/01.png">                        
                        </a>
                    </div>
                     <p>
                        1) О нас: <span>Бондаръ</span> - это молодая и ежедневно развивающаяся компания. Наша команда ставит своей главной целью комфорт и качество для Вас.
                    </p>
                </div>
                <div class="cont cont-02">
                    <div class="img">
                        <a href="../../assets/images/factory/02.png" target="blank">
                            <img alt="img-02" src="../../assets/images/factory/02.png">                        
                        </a>
                    </div>
                     <p>
                        2) Время - В современном мире множесто забот и дел, наша компания уважает и ценит ваше время и поэтому наши курьеры доставят вам товары в любое время и место тогда, когда это будет удобно. Главный офис находится в Ростове-на-Дону и на данный момент мы ведём плотное сотрудничество с 10 городами области и еженедельно отправляется от 15-30 пар для наших клиентов по всей России, Бондаръ старается осчастливить всех желающих!
                    </p>
                </div>
                <div class="cont cont-03">
                    <div class="img img-2">
                        <a href="../../assets/images/factory/03.png" target="blank">
                            <img alt="img-03" src="../../assets/images/factory/03.png">                        
                        </a>
                        <a href="../../assets/images/factory/04.png" target="blank">
                            <img alt="img-04" src="../../assets/images/factory/04.png">                        
                        </a>
                    </div>
                     <p>
                        3) Качество(клиентоориентироваанность) - Мы рады каждому довольному клиенту, благодаря вам - мы развиваемся и улучшаем нашу продукцию. Поэтому для нас на первом месте стоит качество товара. Это фундамент компании Бондаръ. 
                    </p>
                </div>
               

            </div>
        </div>
                
    </div>
    
    <footer></footer>
</div>
