@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content





.body
    overflow-y: hidden
    position: absolute
    height: calc(100% + 100px)
    width: 100%
    background-color: #292A2B
    @include mobile
        height: calc(100% + 800px)
    .content
        width: 100%
        height: calc(100% - 150px)
        @include m-desk
            height: calc(100% - 100px)

        .lion 
            position: absolute
            height: 625px
            margin-top: 50px 
            width: 295px
            @include m-desk
                height: 490px
                margin-top: 50px
                width: 230px
            @include mobile
                display: none    
            &.right
                right: 0px
                img
                    transform: rotateY(180deg)
            img
                height: 100%
                width: 100%  


.mobile
    display: none
    @include mobile
        display: block
        width: 100%
        height: auto
        .header
            display: block
            height: 30px
            width: 100%
            animation: fadeIn 1s forwards
        h1
            font-size: 24px
            font-family: century
            text-align: center
            font-weight: 300
            color: #FFF
        .line
            width: calc(50% - 60px)
            top: 0px
            height: 2px 
            background-color: #FFF
            position: absolute
            margin-top: 15px
            &.right
                right: 0px 
        .titles
            height: auto
            width: auto
            margin: 0 auto
            text-align: center
            margin-top: 30px
            animation: slideRight 1.5s  forwards
        .big-title
            font-size: 49px
            line-height: 39px
        .half
            font-family: 'century'
            color: white
            &.small-title
                font-size: 9px
                padding-top: 15px
                line-height: 7px
        .info-cont
            display: flex
            flex-direction: column
            margin: 0 auto
            width: 90%
            margin-top: 30px
            .cont
                display: flex
                flex-direction: column
                margin-top: 25px
                @keyframes slideLeft
                    0%
                        transform: translateX(700px)
                    100%
                        transform: translateX(0px)
                @keyframes slideRight
                    0%
                        transform: translateX(-700px)
                    100%
                        transform: translateX(0px)
                @keyframes fadeIn
                    0%
                        transform: scale(0, 0)                    
                    100%
                        transform: scale(1, 1)
                .img
                    width: auto
                    height: auto
                    img
                        width: 100%
                        height: auto
                .img-2
                    width: auto
                    height: auto
                    display: flex
                    flex-wrap: nowrap
                    justify-content: space-between
                    a
                        display: flex
                        justify-content: center
                        padding: 5px
                    img
                        width: 100%
                        height: 93px
            .cont-01
                animation: slideLeft 1s  forwards
            .cont-02
                animation: slideRight 1.5s  forwards
            .cont-03
                animation: fadeIn 2s forwards


            p
                font-size: 14px
                text-align: justify
                font-family: 'helvetica'
                color: #FFFFFF
                span
                    font-weight: bold



.factory
    position: relative
    height: 760px
    width: 1260px
    margin: 0px auto
    top: 0px
    margin-top: 100px
    @include m-desk
        width: 900px
        height: 600px
        margin-top: 40px
    @include mobile
        display: none
    .titles
        position: relative
        height: 50px
        width: 75%
        display: flex
        flex-direction: row
        // justify-content: space-between
        @include m-desk
            height: 35px
            width: 85%
        .big-title
            font-size: 64px
            line-height: 50px
            @include m-desk
                font-size: 50px
                line-height: 40px
        .half
            font-family: 'century'
            color: white
            width: 46%
            height: 100%
            &.small-title
                font-size: 14px
                // text-align: justify
                line-height: 18px
                height: 28px
                padding-top: 32px
                @include m-desk
                    font-size: 12px
                    line-height: 16px
                    height: 22px
                    padding-top: 27px
    .info-cont
        position: relative
        width: 100%
        height: 650px
        top: 60px 
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        @include m-desk
            height: 500px
            top: 40px
        .images
            height: 100%
            width: 820px
            @include m-desk
                width: 580px
            .img-01, .img-02, .img-03, .img-04,
                transform: scale(0, 0)
                animation: fadeIn 1s forwards
            .img-02
                animation-delay: 0.4s
            .img-03
                animation-delay: 0.8s
            .img-04
                animation-delay: 1.2s                                

            @keyframes fadeIn
                0%
                    transform: scale(0, 0)                    
                100%
                    transform: scale(1, 1)
            .big-img
                height: 460px
                width: 100%
                position: relative
                img
                    width: 100%
                    height: 100%
                    position: relative                    
                @include m-desk
                    height: 350px
            .img-line
                position: relative
                top: 60px
                height: 130px
                width: 100%
                display: flex
                flex-direction: row
                justify-content: space-between
                @include m-desk
                    top: 20px
                    height: 110px 
                .img
                    height: 100%
                    width: 235px
                    @include m-desk
                        width: 180px
                    img
                        width: 100%
                        height: 100%
                        position: relative
        .texts
            height: 100%
            width: 380px
            @include m-desk
                width: 280px
            p
                transform: translateX(700px)
                margin-top: 23px
                color: white
                font-size: 14px
                text-align: justify
                font-family: 'helvetica'
                line-height: 19px
                padding-top: 0px
                animation: slideLeft 0.5s  forwards 
                @include m-desk
                    margin-top: 25px
                    font-size: 13px 
                    line-height: 17px
                &:nth-child(1)
                    margin-top: 0px
                @keyframes slideLeft
                    0%
                        transform: translateX(700px)
                    100%
                        transform: translateX(0px)
            .p-02
                animation-delay: 0.3s
            .p-03
                animation-delay: 0.7s

footer::ng-deep
    margin-top: -100px
    @include m-desk
        margin-top: -40px
    @include mobile
        margin-top: -80px        



