<modal-window [text]="'Вы действительно хотите удалить модель?'" [open]="isDeleting" (accepted)="deleteShoe()" (canceled)="isDeleting = false">
</modal-window>

    <div class="header">
        <div class="line"></div>
        <h1>Корзина</h1>
        <div class="line right"></div>
    </div>
    
<div class="catalog-cont">
    <div class="filter-butt" 
        (click)="openFilters = !openFilters"
    >
        Фильтры
    </div>

    <div class="filters" [ngClass]="openFilters ? 'opened':''">
        <div class="title">Фильтры</div>
        <div class="fix-cont" [ngClass]="fixed ? 'fixed':''">
            <div class="cont">
                <div class="tit">Товары</div>
                <div class="check-cont">
                    <check-box (update)="handleState($event, 'new')" [state]="new"></check-box>
                    <div class="check-text">Новинки</div>
                </div>
                
                <div class="check-cont">
                    <check-box (update)="handleState($event, 'sales')" [state]="sales"></check-box>
                    <div class="check-text">Со скидкой</div>            
                </div>
                <div class="check-cont">    
                    <check-box (update)="handleState($event, 'popular')" [state]="popular"></check-box>
                    <div class="check-text">Популярное</div>            
                </div>        
            </div>
            
            <div class="cont">
                <div class="tit">Категории</div>
             
                <div *ngFor="let category of categories">
                    <div class="check-cont">
                        <check-box (update)="handleState($event, category.type)" [state]="category.value"></check-box>
                        <div class="check-text">{{ category.name }}</div>         
                    </div> 
                </div>           
            </div>
            
            <div class="cont">
                <div class="tit">Цены</div>

                <div class="ui-slider">
                    <ui-slider (update)="handlePrice($event)" [value]=priceValue></ui-slider>
                </div>
            </div>

            <div class="cont marg-tit">
                <div class="tit">Цвета</div>
                <div class="colors">
                    <colors (update)='handleColors($event)' [activatedColors]="activatedColors"></colors>
                </div>
            </div>

            <div class="cont">
                <div class="tit">Размеры</div>
                <div class="sizes">
                    <sizes (update)='handleSizes($event)' [activatedSizes]="activatedSizes"></sizes>
                </div>
                <div class="reset-button" (click)="resetFilters()">
                    Сбросить фильтры
                </div>
            </div>
            <div class="cont">
            </div>
            <div class="close" (click)="openFilters = !openFilters">
                Закрыть
            </div>
        </div>

    </div>

    <div class="container" [ngClass]="fixed ? 'fixed':''">
        <div class="header">
            <div class="sort-cont">
                <div class="text">Cортировать по:</div>
                <div class="selecter" (click)="open()">
                    <div class="elem empty" *ngIf="orderBy == ''">
                        Не выбрано
                    </div>

                    <div class="elem" *ngIf="orderBy == 'desc'">
                          Цена убыв.
                    </div>                    

                    <div class="elem" *ngIf="orderBy == 'asc'">
                          Цена возр.
                    </div>  

                    <div class="icon">
                        <img src="../../assets/icons/polygon.svg">
                    </div>
                </div>

                <div class="select" [ngClass]="opened ? 'opened':''">
                    <div class="el grey" (click)="chooseOrder('')">
                        сброс
                    </div>
                    <div class="el" (click)="chooseOrder('desc')">
                        цена убыв.
                    </div>
                    <div class="el" (click)="chooseOrder('asc')">
                        цена возр.
                    </div>
                </div>
            </div>
        </div>
        <div class="shoes">
            <div class="add-cont" *ngIf="tokenAuthService.userSignedIn()">
                <div class="left" *ngIf="tokenAuthService.currentUserData.isAdmin">
                    <a [routerLink]="['/create']">
                        <div class="add-card">
                            <div class="plus">
                                <img src="../../assets/icons/plus.svg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div *ngFor="let shoes of loaddedList | filter:filterArgs | atrFilter:orderArgs | priceSort:orderBy" class="left">
                <shoes-el  
                    (myEvent)="activateState($event)"
                    [el]="shoes"
                    (deleted)="callModal($event)"
                ></shoes-el>
            </div>      

            <div class="load-cont">
                <div class="load-box">
                    <div class="text">
                        Вы посмотрели {{ (loaddedList | filter:filterArgs | atrFilter:orderArgs | priceSort:orderBy)?.length}} из {{ (shoesList | filter:filterArgs | atrFilter:orderArgs | priceSort:orderBy)?.length}} товаров
                    </div>
                    <div class="load-line">
                        <div class="percent" [style.width]="Math.round(((loaddedList | filter:filterArgs | atrFilter:orderArgs | priceSort:orderBy)?.length * 100)/(shoesList | filter:filterArgs | atrFilter:orderArgs | priceSort:orderBy)?.length) + '%'"></div>
                    </div>
                    <div class="load-button-cont">
                        <div *ngIf="!yetLoading" class="yet-button" (click)="loadShoes()">
                            Посмотреть ещё
                        </div>
                        <div *ngIf="yetLoading" class="spiner">
                            <img src="../../assets/icons/spinner.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
