@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.header
    display: none
    position: relative
    @include mobile
        display: block
        height: 30px
        width: 100%
    h1
        font-size: 24px
        font-family: century
        text-align: center
        font-weight: 300
    .line
        width: calc(50% - 60px)
        top: 0px
        height: 2px 
        background-color: black
        position: absolute
        margin-top: 16px
        &.right
            right: 0px

.catalog-cont
    width: 1460px   
    position: relative
    margin: 0px auto 
    margin-top: 75px
    margin-bottom: 90px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    @include m-desk
        width: 1200px
        margin-top: 25px
        margin-bottom: 100px
    @include mobile
        width: 100%
        margin-top: 25px
    .filter-butt
        z-index: 3000
        position: fixed
        height: 25px
        width: 100px
        box-sizing: border-box
        padding-top: 5px
        text-align: center 
        background-color: black
        color: white
        font-size: 12px 
        font-family: 'stolzl'
        right: 7px 
        bottom: 60px
        display: none
        @include mobile
            display: block

    .filters
        width: 160px
        height: 780px
        user-select: none
        @include m-desk
            height: 550px
            width: 130px
        @include mobile
            transition: 0.4s
            background-color: white !important
            z-index: 5500 !important
            position: fixed
            width: 100%
            height: 100%
            top: 0px
            transform: translateY(100%)
        .close
            // z-index: 3000
            position: absolute
            height: 25px
            width: 100px
            box-sizing: border-box
            padding-top: 5px
            text-align: center 
            background-color: black
            color: white
            font-size: 12px 
            font-family: 'stolzl'
            right: 7px 
            bottom: 60px
            display: none
            @include mobile
                display: block            
        &.opened
            @include mobile
                transform: translateY(0%)
        .title
            font-size: 36px
            text-align: center
            font-family: 'century'
            padding-top: 50px
            display: none
            @include mobile
                display: block
        .cont
            width: 100%
            height: auto
            @include mobile
                width: 140px
                margin-top: 20px
        .fix-cont
            height: 700px
            width: 160px
            @include m-desk
                width: 130px
            @include mobile
                height: auto
                width: 100%
                display: flex 
                flex-direction: row
                flex-wrap: wrap 
                justify-content: space-around
            // background-color: #ececec
            &.fixed
                top: 100px
                position: fixed
                @include m-desk
                    top: 45px
                @include mobile
                    top: 0px
                    position: relative
        .tit
            font-family: 'stolzl-b'
            font-size: 24px 
            margin-top: 20px
            @include m-desk
                font-size: 18px
                margin-top: 12px
            @include mobile
                font-size: 20px
                margin-top: 0px
        .marg-tit
            margin-top: 30px
            @include m-desk
                margin-top: 20px
            @include mobile
                margin-top: 20px 
        .ui-slider
            width: 100%
            height: 20px
            margin-top: 12px
            @include m-desk
                margin-top: 1px
            span
                display: none !important
        .colors, .sizes
            width: 100%
            height: auto
            // background-color: #ececec
        .check-cont
            height: 22px
            width: 100%
            margin-top: 15px
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            @include m-desk
                margin-top: 8px
            @include mobile
                margin-top: 10px
            .check-text
                margin-left: 15px
                font-family: 'helvetica'
                font-weight: 500
                font-size: 18px
                padding-top: 6px
                @include m-desk
                    font-size: 13px
                @include mobile
                    font-size: 15px
        .reset-button
            text-align: center
            height: 30px
            padding-top: 8px
            cursor: pointer
            user-select: none
            width: 100%
            border: 1.5px solid black
            margin-top: 25px
            background-color: white
            box-sizing: border-box
            font-family: 'helvetica'
            transition: 0.4s
            @include m-desk
                margin-top: 15px
                font-size: 13px
            @include mobile
                font-size: 12px
                margin-top: 10px
            &:hover
                background-color: black
                color: white
    .container
        width: 1300px
        height: auto
        @include m-desk
            width: 1000px    
        @include mobile
            width: 320px
            margin: 0px auto 
        &.fixed
            margin-top: 30px
            @include m-desk
                margin-top: 10px
            @include mobile
                margin-top: 0px
        .header
            width: calc(100% - 40px)
            margin-left: 40px
            height: 20px
            margin-top: 20px
            display: block
            @include mobile
                display: none
            .sort-cont
                width: 340px
                height: 20px
                right: 0px
                position: absolute
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                .text
                    font-family: 'helvetica'
                    color: black
                    line-height: normal
                    font-size: 18px  
                    min-width: 140px           
                .selecter
                    position: relative
                    width: 130px
                    height: 20px
                    border-bottom: 1px solid black
                    cursor: pointer
                    user-select: none
                    .elem
                        position: absolute
                        width: 100%
                        font-size: 16px
                        font-family: 'helvetica'
                        &.empty
                            color: grey
                    .icon
                        right: 0px
                        top: -5px
                        width: 8px
                        height: 8px
                        position: absolute
                        img 
                            height: 100%
                            width: 100%
                .select
                    user-select: none
                    top: -5px
                    right: 30px
                    height: 100px
                    width: 132px
                    border: 1px solid black
                    position: absolute
                    background-color: white
                    z-index: 200
                    display: none
                    &.opened
                        display: block
                    .el
                        box-sizing: border-box
                        padding-top: 10px
                        margin: 0px auto
                        width: 106px
                        text-align: center
                        border-bottom: 1px solid black
                        height: 32px
                        font-family: 'helvetica'
                        font-size: 16px
                        margin-top: 1.5px
                        &.grey
                            color: grey
                        &:hover
                            background-color: #ececec
                            cursor: pointer


        .shoes
            width: 1300px
            height: auto
            display: flex
            flex-direction: row
            flex-wrap: wrap
            position: relative
            @include m-desk
                width: 1000px
            @include mobile
                width: 330px
                margin-left: -10px
            .add-card
                height: 300px
                width: 300px
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25)
                background-color: #F8F5F7
                margin-top: 20px
                cursor: pointer
                z-index: 150
                @include m-desk
                    width: 230px
                    height: 230px
                    margin-top: 15px
                @include mobile
                    display: none                   
                .plus
                    position: relative 
                    top: calc((300px - 50px)/2)
                    width: 50px
                    height: 50px
                    user-select: none
                    margin: 0px auto
                    @include m-desk
                        height: 35px
                        width: 35px
                        top: calc((230px - 35px)/2)
                    img
                        height: 100%
                        width: 100%        
            .load-cont
                width: 100%
                height: 92px
                margin-top: 40px
                @include mobile
                    height: 50px
                .load-box
                    width: 300px
                    height: 100%
                    margin: 0px auto
                    @include mobile
                        width: 160px
                    .text
                        font-size: 12px
                        text-align: center
                        font-family: 'helvetica'
                        width: 100%
                        height: 13px
                        @include mobile
                            font-size: 11px
                    .load-line
                        margin-top: 5px
                        height: 3px
                        width: 100%
                        background-color: #c4c4c4
                        @include mobile
                            height: 2px
                        .percent
                            background-color: black
                            height: 3px
                            @include mobile
                                height: 2px
                    .load-button-cont
                        height: 50px
                        width: 100%
                        margin-top: 20px
                        @include mobile
                            margin-top: 7px
                            height: 30px
                        .yet-button
                            background-color: #ebebeb
                            height: 50px
                            width: 100% 
                            text-align: center  
                            font-family: 'stolzl'  
                            font-size: 18px
                            box-sizing: border-box
                            padding-top: 15px
                            cursor: pointer
                            transition: 0.4s
                            user-select: none
                            @include mobile
                                font-size: 12px
                                height: 30px
                                padding-top: 9px
                            &:hover
                                background-color: black
                                color: white   
                        .spiner
                            height: 50px
                            width: 50px
                            // background-color: #ececec
                            border-radius: 50%
                            margin: 0px auto
                            animation: rotate 1s infinite
                            animation-timing-function: ease-out
                            animation-fill-mode: forwards
                            animation-delay: 0s
                            img
                                height: 100%
                                width: 100%
                        @keyframes rotate
                            0%
                                transform: rotateZ(0deg)
                            100%                    
                                transform: rotateZ(360deg)
        .left::ng-deep 
            margin-left: 20px
            @include mobile
                margin-left: 10px 
        // .left:nth-child(1)
                // margin-left: -10px !important
        .left:nth-child(odd)
            // margin-left: 20px
            @include mobile
                margin-left: 10px !important
        .add-cont
            @include mobile
                display: none
