@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

ngx-slick::ng-deep
    .slick-dots
        z-index: 100
        bottom: -50px !important
        margin-left: -10px
        @include m-desk
            bottom: 20px !important
        @include mobile
            bottom: 45px !important
    .slick-dots li
        height: 20px
        width: 20px
        background-color: #C6C6C6
        border-radius: 50%
        margin-left: 10px
        &.slick-active
            background-color: grey !important
        @include m-desk
            height: 15px
            width: 15px
            margin-left: 7px
        @include mobile
            height: 9px
            width: 9px
            margin-left: 4px
    .slick-active
        background-color: white !important
    .slick-dots li button
        content: ''
        display: none
    .slick-arrow
        position: absolute
        height: 100%
        width: 232px
        z-index: 300
        cursor: pointer
        top: 0px
        @include m-desk
            width: 150px
    .arrow-cont
        opacity: 0
        transition: 0.5s
        display: block
        @include mobile
            display: none
    .arrow-cont:hover
        opacity: 1
    .slick-arrow.right
        right: 0
    .slick-arrow.right .arrow
        right: 50px
        @include m-desk
            right: 35px
    .slick-arrow.left .arrow
        left: 50px
        @include m-desk
            left: 35px
    .slick-arrow 
        .arrow
            top: 45%
            height: 55px
            width: 55px
            cursor: pointer
            z-index: 400
            position: absolute
            @include m-desk
                height: 35px
                width: 35px
                top: 47%
            img 
                height: 100%
                width: 100%
.cont
    height: 650px
    width: 100%
    position: relative
    @include m-desk
        height: 510px
    @include mobile
        height: 550px
    img
        width: 100%
        height: 100%
    .slide
        @include mobile
            height: 550px
    .img
        height: 550px
        width: auto  
        @include mobile
            margin-top: 180px
            transform: translateY(75px)
            height: auto 
            width: 100%
    .text
        width: 625px
        height: 275px
        position: absolute
        top: calc((606px - 275px)/2)
        margin-left: 1065px
        @include m-desk
            margin-left: 850px
            height: 180px
            width: 500px 
            top: calc((490px - 170px)/2)
        @include mobile
            top: 25px
            width: 145px
            height: 160px
            margin-left: 190px
        .title
            font-size: 64px
            font-family: 'stolzl-b'
            @include m-desk
                font-size: 50px
            @include mobile
                font-size: 18px
        .subtitle
            font-size: 24px
            font-family: 'helvetica-o'
            padding-top: 20px
            @include m-desk
                font-size: 19px
                padding-top: 16px
            @include mobile
                padding-top: 9px 
                font-size: 10px
        .desc
            font-size: 24px
            font-family: 'helvetica'
            padding-top: 30px
            @include m-desk
                font-size: 19px 
                padding-top: 23px
            @include mobile  
                padding-top: 9px
                font-size: 12px