<div class="cont">
<!--     <div class="arrow-cont left">
        <div class="arrow left-arrow">
            <img src="../../assets/icons/left.svg" alt="arrow-left">
        </div>
        <img src="../../assets/images/blur-left.png" alt="blur">    
    </div>

    <div class="arrow-cont right">
        <div class="arrow right-arrow">
            <img src="../../assets/icons/right.svg" alt="arrow-left">
        </div>
        <img src="../../assets/images/blur-right.png" alt="blur">    
    </div>     -->

    <ngx-slick class="slider" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img class="img" *ngIf="deviceWidth > 900" src="{{ slide.img }}" alt="" width="100%" draggable="false">
            <img class="img" *ngIf="deviceWidth < 900" src="{{ slide.mobImg }}" alt="" width="100%" draggable="false">

            <div class="text">
                <div class="title">
                    {{ slide.position }}
                </div>
                <div class="subtitle">
                    {{ slide.name }}, {{ slide.age }}
                </div>
                <div class="desc">
                    {{ slide.desc }}
                </div>
            </div>
        </div>
    </ngx-slick>    
</div>