@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

ngx-slick::ng-deep
    .slick-dots
        z-index: 100
        bottom: 8px !important
        margin-left: -10px
    .slick-dots li
        height: 8px
        width: 8px
        background-color: #C6C6C6
        border-radius: 50%
        margin-left: 5px
    .slick-active
        background-color: #606060 !important
    .slick-dots li button
        content: ''
        display: none

.background
    position: absolute 
    height: 100%
    width: 100%
    top: 0px
    z-index: 3000
    overflow: hidden !important
    @include mobile
        min-height: 100%
        height: auto
    .close
        top: 30px
        right: 20px
        position: absolute
        cursor: pointer
        height: 35px
        width:  35px
        transition: 0.4s
        @include m-desk
            height: 25px
            width: 25px
            top: 15px
            right: 10px
        @include mobile
            height: 24px
            width: 24px
            top: 10px
            right: 10px        
        &:hover
            transform: scale(1.05, 1.05)
        img
            height: 100%
            width: 100%
    img
        height: 100%
        width: 100%
        position: absolute
    .info-cont
        position: relative
        width: 1465px
        height: 902px
        background-color: white
        margin: 0px auto
        margin-top: 45px
        z-index: 3100
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        border-radius: 7px
        @include m-desk
            width: 950px
            height: 620px
            margin-top: 20px
        @include mobile
            flex-direction: column
            width: 320px
            height: 1000px
            margin-bottom: 75px        
        .images-cont
            width: 740px
            min-width: 740px
            max-width: 740px
            height: 100%
            @include m-desk
                width:     550px
                min-width: 550px
                max-width: 550px
            @include mobile
                max-width: 320px
                width: 320px 
                min-width: 320px
                height: 320px               
            .sliders
                height: 875px
                width: 685px
                position: relative
                top: 15px
                margin-left: 15px
                @include m-desk
                    width: 450px
                    height: 580px  
                @include mobile
                    width: 320px
                    height: 320px
                    top: 0px
                    margin-left: 0px               
                .slick-active
                    background-color: white !important
                .carousel
                    width: 100%
                    .slick-slide
                        height: 685px

                .small-slider
                    width: 100%
                    .slick-slide
                        width: 170px
                        height: 170px
                        position: relative
                        margin: 0 5px
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
                        @include m-desk
                            height: 125px
                            width: 125px 
                        @include mobile
                            height: 320px
                            width: 320px   
                            box-shadow: 0px 0px 0px white                     
                .main-slider
                    height: 685px
                    width: 685px
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
                    @include m-desk
                        width: 450px
                        height: 450px
                    @include mobile
                        display: none              
                    .markers
                        height: 75px
                        margin: 0px auto
                        top: 50px
                        position: relative
                        z-index: 1100
                        display: flex
                        justify-content: space-between
                        &.full
                            width: 270px
                        &.twin
                            width: 180px
                        &.single
                            width: 75px
                        .marker
                            height: 75px
                            width: 75px
                            border-radius: 50%   
                            transition: 0.4s
                            user-select: none
                            background-color: black
                            border-radius: 50%
                            color: white
                            text-align: center
                            box-sizing: border-box
                            word-wrap: nowrap
                            font-size: 20px
                            padding-top: 25px
                            font-family: 'century'                                                     
                    .zoomable
                        top: 0px 
                        z-index: 1000
                        position: absolute
                        height: 685px
                        width: 685px
                        clip-path: polygon(0% 0%, 0% 100%, 100% 100% , 100% 0%) !important
                        transition: transform 0.2s
                        overflow: hidden
                        img
                            overflow: hidden
                        @include m-desk
                            width: 450px
                            height: 450px                         
                        &:hover
                            cursor: pointer
                            img
                                transform: scale(2.3, 2.3)
                                // @include m-desk
                                    // transform: scale(1.5, 1.3)
                    img::ng-deep
                        height: 685px
                        width: 685px
                        @include m-desk
                            width: 450px
                            height: 450px                          
                .small-slider
                    width: 685px
                    height: 170px
                    position: relative
                    top: 15px 
                    @include m-desk
                        width: 450px
                        height: 125px 
                    @include mobile
                        width: 320px
                        height: 320px
                        top: 0px                       
        .desc-cont
            width: 100%
            height: 100%
            .data-box
                width: 420px
                height: 765px
                margin-left: 40px
                top: 45px
                position: relative
                @include mobile
                    top: 30px
                    width: 280px
                    height: auto
                    margin-left: 20px
                @include m-desk
                    height: 590px
                    margin-left: -20px
                    width: 350px
                    top: 10px
                .title
                    font-size: 48px
                    font-family: 'century'
                    @include m-desk
                        font-size: 42px
                    @include mobile
                        font-size: 29px
                    .sale 
                        color: #D96463
                        font-size: 32px 
                        font-family: 'stolzl'
                        @include m-desk
                            font-size: 24px
                        @include mobile
                            font-size: 14px
                .rating
                    height: 21px
                    width: 100%
                    display: flex 
                    flex-direction: row 
                    flex-wrap: nowrap
                    .text
                        font-family: 'helvetica'
                        font-size: 14px
                        font-weight: 100
                        padding-top: 7px
                        color: #8B8B8B
                    .stars
                        width: 125px
                        height: 21px
                        margin-left: 10px
                        display: flex 
                        flex-wrap: nowrap
                        flex-direction: row
                        justify-content: space-between
                        .star
                            height: 21px
                            width: 21px
                            position: relative
                            cursor: pointer
                            img
                                height: 100%
                                width: 100%
                .price
                    display: flex
                    flex-direction: row
                    width: 100%
                    height: 47px
                    margin-top: 30px
                    @include mobile
                        margin-top: 20px
                    @include m-desk
                        margin-top: 10px
                        height: 30px
                    span 
                        font-family: 'stolzl'
                        font-size: 48px
                        @include mobile
                            font-size: 29px
                        @include m-desk
                            font-size: 25px
                        &.old 
                            text-decoration: line-through
                            color: #8B8B8B
                        &.new
                            padding-left: 30px
                    .rub
                        padding-top: 7px
                        margin-left: 10px
                        height: 36px
                        width: 36px
                        position: relative
                        @include m-desk
                            padding-top: 2px
                            height: 25px 
                            width: 25px
                        @include mobile
                            height: 23px
                            width: 23px
                        img
                            height: 100%
                            width: 100%
                .subtit
                    margin-top: 30px
                    font-family: 'stolzl'
                    height: 24px
                    font-size:  24px
                    font-weight: 900
                    display: flex
                    flex-direction: row
                    @include m-desk
                        margin-top: 15px
                        font-size: 18px
                        height: 19px
                    @include mobile
                        margin-top: 20px
                        font-size: 14px
                    .table
                        width: 180px
                        font-family: 'helvetica'
                        color: #8F8F8F
                        display: flex
                        justify-content: space-between
                        padding-left: 20px
                        cursor: pointer
                        @include mobile
                            width: 130px
                        .text
                            font-size: 17px
                            padding-top: 10px
                            @include m-desk
                                padding-top: 4px
                                font-size: 16px
                            @include mobile
                                font-size: 13px
                                padding-top: 4px 
                        .icon 
                            top: 4px
                            height: 19px 
                            width: 14px
                            position: relative
                            @include m-desk
                                height: 19px 
                                top: 0px
                            @include mobile
                                top: -4px
                            img 
                                height: 100%
                                width: 100% 
                .colors, .sizes
                    margin-top: 20px
                    width: 100%
                    height: auto
                    display: flex
                    flex-direction: row
                    @include mobile
                        margin-top: 12px 
                .colors
                    flex-wrap: nowrap
                    height: 38px
                    @include mobile
                        height: 25px
                    .color
                        height: 38px
                        width: 38px 
                        background-color: grey 
                        border-radius: 50%
                        border: 2px solid black 
                        box-sizing: border-box
                        cursor: pointer
                        position: relative
                        @include m-desk
                            width: 30px
                            height: 30px
                        @include mobile
                            height: 25px
                            width: 25px                        
                        img
                            height: 100%
                            width: 100%
                            opacity: 0
                            transition: 0.3s                        
                        &:not(:nth-child(1))
                            margin-left: 23px
                        &.active
                            border: 2px solid #A3A3A3
                            @include m-desk
                                border: 1.5px solid #A3A3A3
                            img
                                opacity: 1
                                // margin-top:  px
                                // margin-left: -2px                            
                        &.red
                            background-color: #B83939
                        &.white
                            background-color: white
                        &.bej
                            background-color: #CCB6A7
                        &.blue
                            background-color: #1C2F4C
                        &.violet, &.purple
                            background-color:  #4D4C72
                        &.black
                            background-color: black                            
                .sizes
                    flex-wrap: wrap
                    height: auto 
                    position: relative                    
                    @include mobile
                        top: -10px
                    .size 
                        height: 22px 
                        width: 22px
                        box-sizing: border-box
                        border: 1px solid #787878
                        text-align: center
                        border-radius: 2px
                        font-size: 14px
                        color: #787878
                        padding-top: 5px
                        font-family: 'helvetica'
                        cursor: pointer
                        user-select: none
                        transition: 0.3s
                        @include mobile
                            margin-top: 10px
                            height: 16px 
                            width: 16px
                            font-size: 9px 
                        &.active, &:hover
                            color: black
                            border: 1px solid black                                             
                        &:not(:nth-child(1))
                            margin-left: 20px
                            @include m-desk
                                margin-left: 13px
                        &:nth-child(9)
                            @include mobile
                                margin-left: 0px !important                            
                        &:nth-child(11)
                            margin-left: 0px
                            @include mobile
                                margin-left: 20px !important
                        &:nth-child(n + 11)
                            margin-top: 10px                    
                .params
                    margin-top: 11px
                    .param
                        font-size: 13px
                        padding-top: 6px
                        font-family: 'stolzl'
                        @include mobile
                            font-size: 11px
                            line-height: 14px 
                        span
                            font-weight: 100
                            font-family: 'helvetica'
                .info-except
                    padding-top: 60px
                    font-size: 30px
                    text-align: center 
                    font-family: helvetica
                    color: #8B8B8B
                    @include m-desk
                        font-size: 20px
                        padding-top: 30px
                .desc
                    margin-top: 30px
                    font-size: 13px
                    line-height: 17px
                    font-family: 'stolzl-l'
                    text-align: justify
                    height: 60px
                    overflow-y: auto
                    @include mobile
                        font-size: 11px
                    &.opened
                        height: 80px
                .more
                    margin-top: 5px
                    font-size: 13px
                    font-weight: 600
                    font-family: 'stolzl'
                    cursor: pointer
                    @include mobile
                        font-size: 11px 
                    &:hover
                        text-decoration: underline
                .load-cont
                    position: absolute
                    width: 100%
                    height: 60px
                    background-color: white 
                    border: 2px solid black
                    z-index: 400
                    box-sizing: border-box
                    $curve: cubic-bezier(0.650, 0.000, 0.450, 1.000) 
                    cursor: default 
                    @include m-desk
                        height: 45px
                        // margin-top: 30px 
                    @include mobile
                        height: 40px                                                               
                    .checkmark
                        position: absolute
                        left: 90px
                        width: 56px
                        height: 56px
                        display: block
                        stroke-width: 2
                        stroke: black
                        animation: scale 1s ease-in-out both 2s
                        @include m-desk
                            height: 35px
                            width: 35px
                            left: 45px
                            top: 5px
                        @include mobile
                            height: 30px
                            width: 30px
                            top: 5px 
                            left: 20px
                    .checkmark__check
                        transform-origin: 50% 50%
                        stroke-dasharray: 48
                        stroke-dashoffset: 48
                        animation: stroke .5s $curve 1.5s forwards
                    @keyframes stroke 
                      100% 
                        stroke-dashoffset: 0

                    @keyframes scale
                      0%, 100%
                        transform: none
                      50%
                        transform: scale3d(1.1, 1.1, 1)
                    .text
                        width: 100%
                        animation: fadeIn 1s  1.2s
                        opacity: 0
                        top: 0px
                        position: absolute
                        text-align: center
                        font-size: 22px
                        padding-top: 18px
                        color: black
                        font-family: 'helvetica'  
                        animation-timing-function: ease-out
                        animation-fill-mode: forwards 
                        @include m-desk
                            font-size: 16px
                        @include mobile
                            font-size: 14px
                            padding-top: 12px   

                    .moving
                        animation: moveLeft 0.6s  1s
                        animation-timing-function: ease-out
                        animation-fill-mode: forwards                        
                    .icon
                        position: relative
                        height: 35px 
                        width: 35px
                        margin: 0px auto
                        top: 10px 
                        animation: rotate 1s infinite 0s
                        animation-timing-function: ease-out
                        animation-fill-mode: forwards
                        // animation-delay: 0s  
                        @include m-desk
                            height: 25px
                            width: 25px 
                        @include mobile
                            height: 25px
                            width: 25px
                            top: 5px                     
                        img
                            height: 100%
                            width: 100%
                    @keyframes fadeIn
                        0%
                            opacity: 0
                        100%
                            opacity: 1
                    @keyframes moveLeft
                        0%
                            transform: translateX(0px)
                            opacity: 1
                        100%
                            opacity: 0
                            transform: translateX(-95px)
                    @keyframes rotate
                        0%
                            transform: rotateZ(0deg)
                        100%                    
                            transform: rotateZ(360deg)                            
                .add-butt
                    z-index: 300
                    margin-top: 60px
                    width: 100%
                    height: 60px
                    position: relative
                    background-color: black
                    cursor: pointer
                    user-select: none
                    @include m-desk
                        height: 45px
                        margin-top: 30px
                    @include mobile
                        height: 40px
                        margin-top: 30px 
                    &:hover
                        .cont
                            transform: scale(1.1,1.1)
                    .cont
                        transition: 0.3s
                        width: 200px
                        height: 25px
                        margin: 0px auto
                        position: relative
                        top: 17px
                        display: flex
                        flex-wrap: nowrap
                        flex-direction: row
                        justify-content: space-between
                        @include m-desk
                            height: 20px
                            width: 170px
                            top: 10px
                        @include mobile
                            width: 130px
                            top: 8px
                        .text
                            font-size: 18px
                            padding-top: 6px
                            color: white
                            font-family: 'helvetica'
                            width: auto
                            @include mobile
                                font-size: 12px
                            @include m-desk
                                font-size: 16px
                        .icon
                            width: 22px 
                            height: 25px
                            position: relative
                            @include m-desk
                                width: 20px
                                height: 22px
                            @include mobile
                                width: 15px 
                                top: 3px
                                height: 16px
                            img 
                                height: 100%
                                width: 100%
                .one-click
                    font-size: 14px 
                    text-decoration: underline
                    font-family: 'helvetica'
                    padding-top: 10px
                    cursor: pointer
                    @include mobile
                        font-size: 11px

    .arrows
        z-index: 3050
        position: absolute
        width: 100%
        height: 45px
        top: calc((100% - 45px)/2)
        @include mobile
            display: none
        .arrow
            cursor: pointer
            height: 45px
            width: 22px
            position: absolute
            transition: 0.4s
            &:hover
                transform: scale(1.1,1.1)
            img
                height: 100%
                width: 100%
            &.left
                left: 50px
            &.right
                right: 50px