<size-table [openTable]="openTable" (detectClose)="openTable = false"></size-table>

<not-found *ngIf="except"></not-found>
<div *ngIf="!except" class="background" [@routerTransition]="getState()">
    <img src="../../assets/images/texture.png">

    <div class="close">
        <a routerLink="/catalog">
            <img src="../../assets/icons/close.svg">
        </a>
    </div>

    <div class="arrows">
        <div class="arrow left">
            <div (click)="navigate(last, 'left')">
                <img src="../../assets/icons/w-left.svg">
            </div>
        </div>
        <div class="arrow right">
            <div (click)="navigate(next, 'right')">
                <img src="../../assets/icons/w-right.svg">
            </div>
        </div>
    </div>

    <div class="info-cont"  *ngIf="el" >
        <div class="images-cont">
            <div class="sliders">
                <div class="main-slider">
                    <div class="markers"             [ngClass]="[
                        markers.length == 3 ? 'full':'',
                        markers.length == 2 ? 'twin':'',
                        markers.length == 1 ? 'single':''
                    ]">
                        <div *ngFor="let marker of markers" class="marker"
                            [ngClass]="marker.type == 'sales' ? 'sale':''"
                            (click)="activate(marker.type)"
                        >
                            {{ marker.text }}
                        </div>

                    </div>

                    <div class="zoomable">
                        <img (mousemove)="zoomable($event)" class=""  draggable="false" src="{{host}}{{activeImage}}" [ngStyle]="zoomStyles" >
                    </div>
                </div>

                <div class="small-slider">
                    <ngx-slick *ngIf="deviceWidth > 900" class="small-carousel" #slickModal="slick-modal" [config]="smallSliderConfig" (afterChange)="afterChange($event)">
                        <div ngxSlickItem *ngFor="let image of el.images" class="slide">
                            <img class="img"  draggable="false"  src="{{host}}{{image}}" >
                        </div>
                    </ngx-slick>  
                    <ngx-slick *ngIf="deviceWidth <= 900" class="small-carousel" #slickModal="slick-modal" [config]="mobileSmallSliderConfig" (afterChange)="afterChange($event)">
                        <div ngxSlickItem *ngFor="let image of el.images" class="slide">
                            <img class="img"  draggable="false"  src="{{host}}{{image}}" >
                        </div>
                    </ngx-slick>                                        
                </div>
            </div>
        </div>
 
        <div class="desc-cont">
            <div class="data-box">
                <div class="title">
                    {{ el.name }}
                    <sup class="sale" *ngIf="el.isSale">SALE</sup>
                </div>

                <div class="price">
                    <span 
                        [ngClass]="[ el.isSale ? 'old':'' ]"
                    >
                        {{ el.price  }}
                    </span>

                    <span *ngIf="el.isSale" class="new">
                        {{ el.priceSale }}
                    </span>
                    <div class="rub">
                        <img src="../../assets/icons/rub.svg">
                    </div> 
                </div>

                <div class="subtit">
                    Цвета
                </div>

                <div class="colors">
                    <div   *ngFor="let color of el.colors" (click)="activateColor(color)" [ngClass]="[
                            el.activeColor == color ? 'active':'', 
                            color == 'black'?'black':'',
                            color == 'white'?'white':'',
                            color == 'bej'?'bej':'',
                            color == 'red'?'red':'',
                            color == 'blue'?'blue':'',
                            color == 'purple'?'purple':''
                        ]" class="color" 
                    >
                        <div *ngIf="color != 'white'">
                            <img draggable="false" src="../../assets/icons/check-white.svg">
                        </div>
                        <div *ngIf="color == 'white'">
                            <img draggable="false" src="../../assets/icons/check.svg">
                        </div>   
                    </div>                    
                </div>

                <div class="subtit">
                    <div class="sub-el">
                        Размеры
                    </div>
                    <div class="table" (click)="openTable = true">
                        <div class="text">
                            Таблица размеров
                        </div>
                        <div class="icon">
                            <img src="../../assets/icons/table.svg">
                        </div>
                    </div>
                </div> 

                <div class="sizes">
                    <div [ngClass]="el.activeSize == size ? 'active':''" *ngFor="let size of el.sizes" class="size" (click)="activateSize(size)">
                        {{ size }}
                    </div>
                </div>

                <div class="subtit">
                    Информация о товаре
                </div> 
                
                <div class="params" *ngIf="el.params">
                    <div>{{el.params.keys}}</div>
                    <div class="param" *ngFor="let k of (Object.keys(el.params) ) ">
                        {{ k }}: <span>{{ el.params[k] }}</span>
                    </div>
                </div>


                <div *ngIf="!el.desc && Object.keys(el.params).length == 0" class="info-except">
                    Информация отсутствует
                </div>
                <div class="desc" *ngIf="el.desc" [ngClass]="[openedParams ? 'opened':'']"> 
                    {{ ( el.desc.length > 150 && !openedParams ) ? (el.desc| slice:0:150)+'...':(el.desc) }}
                </div>

                <div class="more" *ngIf="!openedParams && el.desc && el.desc.length > 150" (click)="changeState()">Читать дальше</div>
            
                <div class="butt-cont">
                    <div class="load-cont" *ngIf="isAdding">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                        <div class="moving">
                            <div class="icon">
                                <img src="../../assets/icons/spinner.svg">
                            </div>
                        </div>
                        <div class="text">
                            Добавлено
                        </div>
                    </div>
                    <div class="add-butt" (click)="addToCart()">
                        <div class="cont">
                            <div class="text">Добавить в корзину</div>
                                <div class="icon">
                                    <img src="../../assets/icons/busket.svg">
                                </div>
                            </div>  
                    </div>
                </div>

                <div class="one-click" (click)="oneClickBuy()">
                    Купить в один клик
                </div>
            </div>
                
        </div>
    </div>

    <div class="info-cont"  *ngIf="!el">
    </div>

</div>