$red: #A73030
$blue: #1B21AD
$grey: #E7E7E7

@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content



.input-group input.ng-invalid.ng-touched 
    .placeholder
        color: $red


input.focus .input-group
        background-color: $grey
.input-group
    width: 100%
    height: 50px
    position: relative
    // margin-top: 60px
    @include mobile
        height: 30px
        // background-color: $grey
    .warning
        position: absolute
        height: 22px
        width: 22px
        margin-left: calc(100% - 30px)
        margin-top: 20px
        z-index: 1000
        @include m-desk
            height: 19px
            width: 19px
            margin-top: 10px
        @include mobile
            height: 15px
            width:  15px
        img
            height: 100%
            width: 100%
    @include m-desk
        height: 40px
        margin-top: 10px 
    input
        z-index: 3000
        top: -5px
        width: calc(100% - 10px)
        padding-top: 15px
        padding-left: 10px
        font-family: 'helvetica'
        height: 40px
        background-color: white
        border: 0px solid black
        border-bottom: 2px solid black
        position: absolute
        z-index: 200
        font-size: 18px
        transition: 0.3s
        &.ng-valid.ng-touched:not(.touching)
            background-color: white !important
        &.focus
            background-color: $grey
            border-bottom: 2px solid $blue
            background-color: $grey
            border-radius: 4px 4px 0px 0px
        &.ng-valid:not(.touching)
            border-bottom: 2px solid black !important

        &.ng-invalid.ng-touched
            border-bottom: 2px solid $red
        @include m-desk
            height: 30px
            font-size: 13px
            padding-top: 10px
        @include mobile
            height: 12px
            margin-top: 15px
        &:focus, &:hover
            outline: none
    input:-webkit-autofill
        background-color: white !important
    input.focus ~ .placeholder
        color: $blue

    input.ng-valid:not(.touching) ~ .placeholder
        color: black
    input.ng-invalid.ng-touched ~ .placeholder
        color: $red
    .font-20
        font-size: 20px !important
        @include m-desk
            font-size: 16px !important
        @include mobile
            font-size: 13px !important
    .placeholder
        z-index: 300
        height: 10px
        position: absolute
        margin-top: 25px
        margin-left: 10px
        color: #A6A6A6
        font-family: 'helvetica'
        font-size: 18px
        transition: 0.3s
        @include m-desk
            margin-top: 15px
            font-size: 14px  
        @include mobile 
            margin-top: 20px
            font-size: 13px       
        &.active 
            color: black
            transform: translate(-10px, -23px)
            font-size: 14px !important
            @include m-desk
                transform: translate(-10px, -17px)
                font-size: 12px !important
            @include mobile
                transform: translate(-10px, -10px)
                font-size: 10px !important            