<div class="input-group" (click)="focusInput()">
    <input required="{{required}}"  (focus)="focusInput()" [formControl]="data[field]" (blur)="unfocus()" type="{{ type }}" name="{{ name }}" (ngModelChange)="dataChanged()"  #myInp
        [ngClass]="[
            fontSize == '20' ? 'font-20':'',
            isFocused ? 'focus':'',
            isTouching ? 'touching':''
        ]"
    >
    <div class="warning" *ngIf="data[field].invalid && (data[field].dirty || data[field].touched)">
        <img src="../../assets/icons/warning.svg">
    </div>

    <div  class="placeholder" [ngClass]="[
        isFocused ? 'active':'',
        fontSize == '20' ? 'font-20':''
    ]">
        {{ placeholder }} <sup *ngIf="required">*</sup>
    </div>
</div>