@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content


.input-group
    width: 100%
    height: 45px
    margin-top: 60px
    @include m-desk
        margin-top: 30px
    @include mobile
        margin-top: 30px
    input
        z-index: 3000
        background-color: #ececec
        top: 10px
        width: 100%
        padding-top: 5px
        padding-left: 10px
        font-family: 'helvetica'
        height: 30px
        background-color: white
        border: 0px solid black
        border-bottom: 2px solid black
        position: relative
        z-index: 200
        &:focus, &:hover
            outline: none
    input:-webkit-autofill
        background-color: white !important
    .placeholder
        z-index: 300
        height: 10px
        position: absolute
        margin-top: -15px
        margin-left: 10px
        color: #A6A6A6
        font-family: 'helvetica'
        font-size: 18px
        transition: 0.3s
        &.active 
            color: black
            transform: translate(-10px, -20px)
            font-size: 13px !important