<div class="input-group" (click)="focusInput()">
    <input (keydown.enter)="enter()" (focus)="focusInput()" [(ngModel)]="data[field]" (blur)="unfocus()" type="{{ type }}" name="{{ name }}" (ngModelChange)="dataChanged($event)"  #myInp>
    <div [style.fontSize.px]="fontSize" class="placeholder" [ngClass]="[isFocused ? 'active':'']">
        {{ placeholder }}
    </div>
</div>