<div class="body">
    <div class="title">
        Меню
    </div>

    <div class="links">
        <div class="link" routerLink="/basket">Корзина</div>
        <div class="link" routerLink="/profile">Личный кабинет</div>
        <div class="link" routerLink="/about">О нас</div>
    </div>
</div>