@mixin l-desk
    @media screen and (min-width: 1368px)
        @content  

@mixin m-desk
    @media screen and (min-width: 1281px) and (max-width: 1550px)
        @content

@mixin sm-desk
    @media screen and (min-width: 1025px) and (max-width: 1280px)
        @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content

.body
    width: 100%
    height: 100%
    background-color: white
    position: absolute
    top: 0px
    z-index: 1000
    .title
        font-size: 36px
        text-align: center
        padding-top: 54px
        font-family: 'century'
    .links
        height: 140px
        width: 220px
        position: relative
        margin: 0px auto
        margin-top: calc((100% - 140px)/2)
        .link
            font-weight: 900
            font-size: 24px
            font-family: 'stolzl'
            padding-top: 24px
            text-align: center