<div class="container">
    <div class="real-box">
        <a class="icon-box" [routerLink]="['/catalog']">
            <div class="icon icon-01">
                <img *ngIf="pageState == 'catalog'" src="../../assets/icons/catalog-grey-icon.svg">
                <img *ngIf="pageState != 'catalog'" src="../../assets/icons/catalog-icon.svg">
            </div>
        </a>
        <a class="icon-box" [routerLink]="['/stock']">
            <div class="icon icon-02">
                <img *ngIf="pageState != 'stock'" src="../../assets/icons/sales-icon.svg">
                <img *ngIf="pageState == 'stock'" src="../../assets/icons/sales-grey-icon.svg">                
            </div>
        </a>
        <a class="icon-box" [routerLink]="['/']">
            <div class="icon icon-03">
                <img *ngIf="pageState != 'main'" src="../../assets/icons/home-icon.svg">
                <img *ngIf="pageState == 'main'" src="../../assets/icons/home-grey-icon.svg">
            </div>
        </a>
        <a class="icon-box" [routerLink]="['/profile']">
            <div class="icon icon-04">
                <img *ngIf="pageState == 'profile'" src="../../assets/icons/person-grey-icon.svg">
                <img *ngIf="pageState != 'profile'" src="../../assets/icons/person-icon.svg">
            </div>
        </a>
        <a class="icon-box" [routerLink]="['/more']">
            <div class="icon icon-05">
                <img *ngIf="pageState == 'more'" src="../../assets/icons/list-grey-icon.svg">
                <img *ngIf="pageState != 'more'" src="../../assets/icons/list-icon.svg">                
            </div>
        </a>
    </div>
</div>