@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content

$light-grey: #CDCDCD
$grey: #696969

.container
    display: none
    height: 50px
    position: fixed
    width: 100%
    background-color: #FAF7FA
    bottom: 0px
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.25)
    z-index: 5000
    @include mobile
        display: block
    .real-box
        max-width: 375px
        min-width: 320px
        position: relative
        margin: 0px auto
        height: 50px
        display: flex 
        flex-direction: row
        flex-wrap: nowrap
        .icon-box
            width: 20%
            height: 50px
            .icon 
                top: 13px
                height: 23px
                width: 23px
                margin: 0px auto
                position: relative
                &.icon-01
                    width: 30px
                &.icon-02
                &.icon-03
                    top: 10px
                    width: 30px
                    height: 29px
                &.icon-04
                    width: 22px
                &.icon-05
                    top: 14px
                    height: 14px
                    width: 24px
                img
                    height: 100%
                    width: 100%