@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    

@mixin smobile
    @media (max-width: 320px)
        @content

.app-cont
    // transition: 0.1s
    overflow: hidden
.fixed
    margin-top: 0px
    @include m-desk
        margin-top: 0px

.background
    position: absolute 
    height: 100%
    width: 100%
    top: 0px
    z-index: 3000
    overflow: hidden
    background: url('../assets/images/texture.png')
    background-size: cover !important
    background-repeat: no-repeat !important
    display: flex
    align-items: center
    justify-content: center    
    .load-cont
        height: 350px
        width: 330px
        .logo
            width: 100%
            height: 240px
        .text
            text-align: center
            font-family: 'stolzl'
            font-size: 14px
            padding-top: 15px
            color: white
        .spinner
            height: 50px
            width: 50px
            border-radius: 50%
            margin: 0px auto
            margin-top: 20px
            animation: rotate 1.5s infinite
            animation-timing-function: ease-out
            animation-fill-mode: forwards
            animation-delay: 0s            

@keyframes rotate
    0%
        transform: rotateZ(0deg)
    100%                    
        transform: rotateZ(360deg)            
            
img
    height: 100%
    width: 100%