<div *ngIf="loaded">
    <navbar></navbar>
    <div class="app-cont" [ngClass]="fixed ? 'fixed':''"> 
        <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <bottom-bar></bottom-bar>
</div>

<div *ngIf="!loaded">
    <div class="background">
        <div class="load-cont">
            <div class="logo">
                <img src="../assets/images/big-fulllogo.png">
            </div>
            <div class="text">Пожалуйста подождите</div>
            <div class="spinner">
                <img src="../assets/icons/spinner-w.svg">
            </div>
        </div>
    </div>
</div>