<div class="background">
    <div class="text-block">
        <div class="big">
            Ошибка 404
        </div>
        <div class="small">
            Страница не найдена
        </div>
    </div>
</div>