.background
    position: absolute 
    height: 100%
    width: 100%
    top: 0px
    z-index: 3000
    overflow: hidden
    background: url('../../../assets/images/texture.png')
    background-size: content 
    .text-block
        height: 80px
        width: 290px
        margin: 0px auto 
        text-align: center
        position: relative 
        top: calc((100% - 80px)/2)
        .big, .small
            color: white
            font-family: 'century'
        .big
            font-size: 45px
        .small
            padding-top: 5px
            font-size: 17px 