<div class="feedback-cont">
    <div class="feedback-box">
        <div class="text-block">
            <div class="text" [ngClass]="
                activeCustomer['text'].length > 600 ? 'big-top':''
            ">
                <div class="title">{{ activeCustomer['name'] }}, {{activeCustomer['city']}}</div>
                <p>
                    {{ activeCustomer['text'] }}
                </p>
            </div>
        </div>
        <div class="imgs">
            <div class="big-img">
                <img src="../../assets/images/feedback/big-{{ activeCustomer['id'] }}.png">
            </div>

            <div class="line-imgs">
                <div (click)="activate(customer)" *ngFor="let customer of customers" class="sm-img">
                    <div class="back">
                        {{ customer['name'] }}
                    </div>
                    <img src="../../assets/images/feedback/sm-{{customer['id']}}.png">
                </div>
            </div>
        </div>
    </div>
    <div class="side-text">
        Довольные клиенты
    </div>

    <div class="mobile-feedback-box">
        <div class="active-box">
            <div class="big-img">
                <img src="../../assets/images/feedback/big-{{ activeCustomer['id'] }}.png">
            </div>
            <div class="text-block">
                <div class="left">
                    <div class="title">{{ activeCustomer['name'] }}</div> 
                    <div class="city">{{activeCustomer['city']}}</div>
                </div>
                <div class="right">
                    <p>
                        {{ activeCustomer['text'] }}
                    </p>                
                </div>
            </div> 

            <div class="line-imgs">
                <div (click)="activate(customer)" *ngFor="let customer of customers" class="sm-img">
                    <div class="back" *ngIf="activeCustomer['name'] == customer['name']">
                        {{ customer['name'] }}
                    </div>
                    <img src="../../assets/images/feedback/sm-{{customer['id']}}.png">
                </div>                
            </div>
        </div>
    </div>
</div>