@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

$light: #ececec

.feedback-cont
    height: 770px
    width: 100%
    top: 200px
    position: relative
    @include m-desk
        top: 100px
        height: 600px
    @include mobile
        height: auto
        top: 50px
    .side-text
        top: 0px
        left: 0px
        height: 190px
        width: 770px
        position: absolute
        // background-color: $light 
        font-size: 125px
        line-height: 105px
        font-family: 'stolzl-b'
        color: white
        opacity: 0.15
        z-index: 200
        transform: rotateZ(-90deg) translateX(-290px) translateY(-300px)
        @include m-desk
            transform: rotateZ(-90deg) translateX(-120px) translateY(-300px)
            font-size: 90px
            line-height: 80px
        @include mobile
            font-style: italic
            line-height: 16px
            height: 16px
            width: 100%
            text-align: center
            font-size: 22px 
            opacity: 1
            transform: rotateZ(0deg) translateX(0px) translateY(0px)
    .mobile-feedback-box
        display: none
        height: 100%
        width: 100%
        background-color: white
        @include mobile
            top: 35px
            position: relative
            display: block
        .active-box
            height: auto
            width: 100%
            .big-img
                height: auto
                width: 100%
                img
                    position: relative
                    height: 100%
                    width: 100%
            .text-block
                position: relative
                top: -5px
                background-color: white
                height: auto
                width: 100%
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                .left, .right
                    width: 50%
                .left
                    .title
                        padding-top: 35px
                        padding-left: 30px
                        font-family: 'stolzl-b'
                        font-size: 17px
                        font-style: italic
                    .city
                        padding-left: 30px
                        font-family: 'stolzl'
                        font-size: 8px
                        font-style: italic
                .right
                    p
                        padding-top: 20px
                        padding-right: 20px
                        font-family: 'helvetica'
                        font-size: 12px
                        line-height: normal

        .line-imgs
            position: relative
            top: 0px
            height: 75px
            width: 100%
            background-color: grey
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            .sm-img
                height: 75px
                width: 25%
                position: relative
                img 
                    height: 100%
                    width: 100%
                .back
                    box-sizing: border-box
                    position: absolute
                    height: 75px
                    width: 100%
                    background-color: rgba(0,0,0,0.5)
                    text-align: center
                    color: white
                    font-family: 'helvetica'
                    padding-top: calc(50% - 12px)
                    font-size: 13px
    .feedback-box
        z-index: 150
        height: 100%
        width: 1260px
        position: relative
        margin: 0px auto
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        @include m-desk
            width: 1000px
        @include mobile
            display: none
        .text-block
            background-color: white
            height: 100%
            width: 440px
            display: inline-block
            @include m-desk
                width: 350px
            .text
                top: 0px 
                position: relative            
                width: 320px
                height: 135px
                margin: 0px auto
                position: relative
                top: calc((100% - 135px)/2)
                &.big-top
                    top: calc((100% - 305px)/2)
                @include m-desk
                    width: 250px
                .title
                    position: absolute
                    font-family: 'helvetica-o'
                    font-size: 22px
                    font-weight: 300
                    @include m-desk 
                        font-size: 18px
                p 
                    padding-top: 15px
                    font-family: 'helvetica'
                    font-size: 18px
                    line-height: 21px
                    position: absolute
                    @include m-desk
                        font-size: 14px
        .imgs
            top: 0px 
            position: relative
            height: 100%
            width: 820px
            display: inline-block
            @include m-desk
                width: 650px
            .big-img, .sm-img
            .big-img
                height: 600px
                width: 100%
                @include m-desk
                    height: 458px
                img
                    position: absolute
                    // top: 1px
                    height: 601px
                    width: 820px
                    @include m-desk
                        width: 650px
                        height: 460px
            .line-imgs
                width: 100%
                height: 170px
                display: flex 
                flex-direction: row
                flex-wrap: nowrap
                @include m-desk
                    height: 142px
            .sm-img
                clip-path: polygon(0% 0%, 0% 100%, 100% 100% , 100% 0%)
                cursor: pointer
                width: 25%
                // display: inline-block
                height: 100%
                background-size: cover
                background-repeat: no-repeat
                .back
                    z-index: 400
                    position: absolute
                    height: 100%
                    width: 205px
                    background-color: rgba(0,0,0,0.7)
                    opacity: 0
                    color: white
                    text-align: center
                    font-family: 'helvetica-o'
                    font-size: 19px
                    padding-top: calc((170px - 19px)/2)
                    transition: 0.5s
                    @include m-desk
                        width: 25%
                        font-size: 16px
                    &:hover
                        opacity: 1
                img
                    z-index: 300
                    transition: 0.4s
                    width: 100%
                    height: 100%
                &:hover
                    img
                        transform: scale(1.1,1.1)