@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.check-box
    cursor: pointer
    box-sizing: border-box
    transition: 0.2s
    height: 22px
    width: 22px
    border: 1px solid black
    border-radius: 2px
    user-drag: none
    user-select: none
    @include m-desk
        height: 19px
        width: 19px
    img
        position: absolute
        transition: 0.2s
        opacity: 0
        width: 22px
        height: 22px
        @include m-desk
            width: 19px
            height: 19px
    &.active
        // background: url('../../assets/icons/check-box.svg')
        border-radius: 3px 
        border: 2px solid black
        img
            opacity: 1
            margin-left: -2px
            margin-top: -2px