@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

$light: #ececec

.img
    height: 300px 
    width: 300px
    @include m-desk
        width: 230px
        height: 230px
    @include mobile
        width: 155px
        height: 155px    
.box
    // user-select: none
    height: 300px
    width: 300px
    background-color: #F8F5F7
    margin-top: 20px
    cursor: pointer
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25)
    z-index: 150
    @include m-desk
        width: 230px
        height: 230px
        margin-top: 15px
    @include mobile
        height: 155px
        width: 155px
    &.mini-catalog
        width: 320px
        height: 320px
        .title
            font-size: 24px
            width: 320px
        .img-cont, .img
            height: 320px
            width: 320px 
            margin-top: 0px
        .footer
            width: 320px
            height: 70px
            margin-top: 250px
            .price
                font-size: 24px
                padding-top:  17px
                &.is-sale
                    padding-top: 7px
        .markers
            display: none !important
            z-index: 300
            height: 38px !important  
            margin-top: 35px !important  
            &.full
                width: 135px !important
                margin-left: calc((300px - 135px)/2) !important
            &.twin
                width: 86px !important
                margin-left: calc((300px - 86px)/2) !important                 
            &.single
                width: 38px !important
                margin-left: calc((300px - 20px)/2) !important 
            .marker
                @include mobile
                    height: 38px !important
                    width: 38px !important
                    font-size: 12px !important
                    padding-top: 12px !important
                    // &.sale
                        // font-size: 14px
                        // padding-top: 11px                                    


    &:hover
        .footer
            display: block
    .icon
        z-index: 300
        height: 25px
        width: 25px
        position: absolute
        margin-top: 6px
        cursor: pointer
        transition: 0.3s
        @include m-desk
            height: 17px
            width: 17px
        &:hover
            transform: scale(1.1, 1.1)
        img
            height: 100%
            width: 100% 
    .edit
        margin-left: 10px
        @include mobile 
            display: none
    .delete
        margin-left: calc(275px - 7px)
        // background-color: grey
        @include m-desk   
            margin-left: calc(210px - 6px)
        @include mobile 
            display: none    
    .footer
        position: absolute
        height: auto
        width: 300px
        background-color: white
        display: none
        margin-top: 298px
        z-index: 370
        transition: 0.4s
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25)
        @include m-desk
            width: 230px
            margin-top: 229px
        @include mobile
            box-shadow: none
            display: block
            margin-top: 135px        
            width: 155px   
            height: 25px  
        .price
            font-size: 17px
            text-align: center
            font-family: 'tenor'
            width: 100%
            position: relative
            top: 5px
            @include m-desk
                top: 0px
                font-size: 14px
                top: 4px        
            @include mobile
                font-size: 13px
                top: 5px
            &.is-sale
                @include mobile
                    top: -5px                
            &.sale
                padding-top: 5px
                color: #999999
                font-size: 13px
                text-decoration: line-through
                @include m-desk
                    font-size: 11px
                @include mobile
                    font-size: 9px
                    top: -7px         
        .container
            height: auto
            width: 269px
            display: flex
            margin: 0px auto
            margin-top: 10px
            margin-bottom: 10px
            justify-content: space-between
            @include m-desk
                width: 220px
            @include mobile
                display: none
            .more
                width: 20px
                height: 20px
                margin-left: 10px
                border-radius: 50%
                transition: 0.4s
                cursor: pointer
                transition: 0.4s
                @include m-desk
                    width: 13px 
                    height: 13px
                &.opened
                    img.r
                        transform: rotateZ(45deg)
                    img.a
                        opacity: 1
                        transform: rotateZ(-45deg)
                &:hover
                    background-color: $light
                img
                    user-select: none
                    transition: 0.4s
                img.r
                    width: 100%
                    height: 2px
                    top: -3px
                    position: relative
                    @include m-desk

                img.a
                    opacity: 0
                    width: 20px
                    height: 2px
                    position: absolute
                    right: -1px
                    margin-top: 9.5px
                    @include m-desk
                        margin-top: 10px
                        right: 2.5px                    
            .marg
                &:nth-child(n + 4)
                    margin-top: 5px
                // animation-delay: 0.4s
            .color, .size, .more
                user-select: none
            .colors-cont
                height: auto
                width: 43%
                display: flex
                flex-wrap: nowrap
                .colors
                    width: 100px
                    height: auto
                    display: flex
                    flex-wrap: wrap
                    @include m-desk
                        width: 80px
                    .color
                        margin-left: 10px
                        animation: 'fadeOut'
                        animation-duration: 0.4s
                        transition: 0.4s
                        height: 20px
                        width: 20px 
                        background-color: grey
                        border-radius: 50%  
                        box-sizing: border-box
                        animation-timing-function: ease-out
                        @include m-desk
                            width: 16px 
                            height: 16px
                        &.active
                            border: 3px solid #C2DEFF
                        &.black
                            background-color: black
                        &.red
                            background-color: #B83939
                        &.white
                            background-color: white
                        &.bej
                            background-color: #CCB6A7
                        &.violet, &.purple
                            background-color:  #4D4C72
                        &.blue
                            background-color: #1C2F4C                                                      
            .sizes-cont
                height: auto
                width: 125px
                display: flex
                flex-wrap: nowrap 
                position: relative
                @include m-desk
                    margin-left: 30px
                    width: 130px         
                .sizes
                    width: 110px
                    height: auto
                    display: flex
                    flex-wrap: wrap
                    position: relative
                    @include m-desk
                        width: 80px
                    .size
                        margin-left: 10px
                        position: relative
                        animation: 'fadeOut'
                        animation-duration: 0.4s                    
                        transition: 0.4s
                        box-sizing: border-box
                        padding-top: 2px
                        margin-left: 7px
                        height: 20px
                        width: 20px 
                        border: 1px solid #ADAAAC
                        text-align: center
                        font-size: 12px
                        color: #ADAAAC
                        font-family: 'tenor'
                        border-radius: 5px
                        @include m-desk
                            margin-left: 5px

                        &.active
                            color: black
                            border: 1px solid black
                        @for $i from 1 through 10
                            &:nth-child($i)
                                animation-delay: calc(#{$i} * 200)                            

    .title
        position: absolute
        z-index: 150
        text-align: center
        width: 300px
        height: 18px
        font-size: 18px
        color: black
        // line-height: 0px
        padding-top: 8px
        font-family: 'century'
        @include m-desk
            width: 230px
        @include mobile 
            width:  155px    
            font-size: 11px
            padding-top: 5px       
        &.white
            color: white
    .load-cont 
        z-index: 110
        height: 300px
        width: 300px
        position: absolute
        @include m-desk
            width: 230px
            height: 230px                        
        .spinner
            user-select: none
            position: relative
            margin: 0px auto
            top: 125px
            height: 50px
            width: 50px
            animation: rotate 1s infinite
            animation-timing-function: ease-out
            animation-fill-mode: forwards
            animation-delay: 0s
            @include m-desk
                height: 35px
                width: 35px
                top: 97px            
            img
                height: 100%
                width: 100%        
        @keyframes rotate
            0%
                transform: rotateZ(0deg)
            100%                    
                transform: rotateZ(360deg)            
    .img-cont
        z-index: 110
        height: 300px
        width: 300px
        position: absolute
        @include m-desk
            width: 230px
            height: 230px
        @include mobile
            width: 155px
            height: 155px
            margin-top: 0px            
        .markers
            position: absolute
            height: 38px
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            margin-top: 40px
            z-index: 300
            @include mobile 
                margin-top: 25px
                height: 20px   
            &.full
                width: 135px
                margin-left: calc((300px - 135px)/2)
                @include m-desk
                   margin-left: calc((230px - 135px)/2) 
                @include mobile
                    width: 75px
                    margin-left: calc((150px - 75px)/2)
            &.twin
                width: 86px
                margin-left: calc((300px - 86px)/2)  
                @include m-desk
                   margin-left: calc((230px - 86px)/2)
                @include mobile
                    width: 47px
                    margin-left: calc((150px - 47px)/2)                 
            &.single
                width: 38px
                margin-left: calc((300px - 38px)/2)
                @include m-desk
                   margin-left: calc((230px - 38px)/2)                             
                @include mobile
                    width: 20px
                    margin-left: calc((150px - 20px)/2)

            .marker
                cursor: pointer
                transition: 0.4s
                user-select: none
                height: 38px
                width: 38px
                background-color: black
                border-radius: 50%
                color: white
                text-align: center
                box-sizing: border-box
                word-wrap: nowrap
                font-size: 12px
                padding-top: 12px
                font-family: 'century'
                @include mobile
                    height: 20px 
                    width: 20px
                    font-size: 7px 
                    padding-top: 6px
                &:hover
                    transform: scale(1.15,1.15)
                &.sale
                    font-size: 14px
                    padding-top: 11px
                    @include mobile
                        font-size: 8px 
                        padding-top: 6px 
        img
            user-select: none
            user-drag: none
            opacity: 0
            display: none
            transition: 0.4s
            position: absolute
            &.active
                display: block
                opacity: 1
        
@keyframes fadeOut
    0%
        opacity: 0
    100%
        opacity: 1