<div (mouseleave)="clearOpen($event)" class="box" (mouseenter)="animate($event)" [ngClass]="[mobileMinicatalog ? 'mini-catalog':'']">
    <div *ngIf="tokenAuthService.userSignedIn()">
        <div class="icon edit" *ngIf="tokenAuthService.currentUserData.isAdmin">
            <a [routerLink]="['/catalog', el.id, 'edit']">
                <img src="../../assets/icons/edit.svg">
            </a>
        </div>

        <div class="delete icon" *ngIf="tokenAuthService.currentUserData.isAdmin" (click)="delete(el.id)">
            <img src="../../assets/icons/close-g.svg">
        </div>

    </div>

    <div class="title" [ngClass]="[isDarkness ? 'white':'']">{{ el.name }}</div>
    
    <div class="load-cont" *ngIf="isLoading">
        <div class="spinner">
            <img src="../../assets/icons/spinner.svg">
        </div>
    </div>

    <div class="img-cont" *ngIf="!isLoading">
        <div class="markers" 
            [ngClass]="[
                markers.length == 3 ? 'full':'',
                markers.length == 2 ? 'twin':'',
                markers.length == 1 ? 'single':''
            ]"
        >
            <div *ngFor="let marker of markers" class="marker"
                [ngClass]="marker.type == 'sales' ? 'sale':''"
            >
                {{ marker.text }}
            </div>
        </div>

        <div class="link" (click)="navigate(el)">
            <img class="img" *ngFor="let image of el.images" draggable="false" [ngClass]="activeImage == image ? 'active':''" src="{{host}}{{image}}">
        </div>    
    </div>

    <div class="footer">
        <div *ngIf="el.isSale"> 
            <div class="price" [ngClass]="el.isSale ? 'is-sale':''">{{ el.priceSale }} руб.</div>
        </div>

        <div class="price" [ngClass]="el.isSale ? 'sale':''" >{{ el.price }} руб.</div>
        <div class="container">
            <div class="colors-cont">
                <div class="colors">
                    <div  class="marg" *ngFor="let color of el.colors; let i = index">
                        <div (click)="activateColor(color)" [ngClass]="[
                            el.activeColor == color ? 'active':'', 
                            color == 'black'?'black':'',
                            color == 'white'?'white':'',
                            color == 'bej'?'bej':'',
                            color == 'red'?'red':'',
                            color == 'blue'?'blue':'',
                            color == 'purple'?'purple':''                            
                        ]" class="color" *ngIf="i < 3 || opened"></div>
                    </div>
                </div>
            </div>


            <div class="sizes-cont">
                <div class="sizes">
                    <div class="marg" *ngFor="let size of el.sizes; let i = index">
                        <div (click)="activateSize(size)" class="size" *ngIf="i < 3 || opened" [ngClass]="el.activeSize == size ? 'active':''">
                            {{ size }}
                        </div>
                    </div>
                </div>
                <div class="more" (click)="openFooter()" *ngIf="el.colors.length > 3 || el.sizes.length > 3" [ngClass]="opened ? 'opened':''">
                    <img draggable="false" class="r" src="../../assets/icons/dots.svg">
                    <img draggable="false" class="a" src="../../assets/icons/dots.svg">
                </div>
            </div>

        </div>
    </div>
</div>