@mixin l-desk
  @media (min-width: 1368px)
    @content  

@mixin m-desk
  @media (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media (max-width: 320px)
        @content

.background
    position: absolute 
    height: 100%
    width: 100%
    top: 0px
    z-index: 3000
    overflow: hidden
    @include mobile
        display: none
    .close
        top: 30px
        right: 20px
        position: absolute
        cursor: pointer
        height: 35px
        width:  35px
        transition: 0.4s
        @include m-desk
            height: 25px
            width: 25px
            top: 15px
            right: 10px
        &:hover
            transform: scale(1.05, 1.05)
        img
            height: 100%
            width: 100%
    img
        height: 100%
        width: 100%
        position: absolute
.info-cont
    form
        position: relative
        width: 1465px
        height: 902px
        background-color: white
        margin: 0px auto
        margin-top: 45px
        z-index: 3100
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        border-radius: 7px
        @include m-desk
            width: 1100px
            height: 700px
            margin-top: 20px
        .images-cont
            @include m-desk
                width:     550px
                min-width: 550px
                max-width: 550px                
            width: 740px
            min-width: 740px
            max-width: 740px
            height: 100%
            .sliders
                height: 875px
                width: 685px
                position: relative
                top: 15px
                margin-left: 15px
                @include m-desk
                    width: 450px
                    height: 580px
                .slick-active
                    background-color: white !important
                .carousel
                    width: 100%
                    .slick-slide
                        height: 685px

                .small-slider
                    width: 100%
                    .small-carousel
                        @include m-desk
                            width: 450px !important
                            height: 125px
                        .slick-track::ng-deep
                            width: 450px !important 
                            @include m-desk
                                width: 450px !important                             
                    .slick-slide, .slide
                        width: 170px
                        height: 170px
                        position: relative
                        margin: 0 5px
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
                        @include m-desk
                            height: 125px
                            width: 125px 
                        .img
                            height: 100%
                            width: 100%    
                        .delete
                            height: 14px
                            width: 14px
                            border-radius: 50%
                            background-color: black
                            top: 10px 
                            position: absolute
                            cursor: pointer
                            @include m-desk
                                margin-left: calc(107px - 20px)    
                            .icon
                                height: 10px
                                width: 10px
                                margin: 0px auto 
                                position: relative
                                margin-top: 2px  
                .main-slider
                    height: 685px
                    width: 685px
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
                    @include m-desk
                        width: 450px
                        height: 450px 
                    .markers-cont
                        height: 95px
                        width: 360px
                        margin-left: calc((685px - 360px)/2)
                        margin-top: 95px
                        position: absolute
                        display: flex
                        flex-direction: row
                        flex-wrap: nowrap
                        justify-content: space-between
                        user-select: none
                        @include m-desk
                            width: 250px
                            height: 65px
                            margin-left: calc((450px - 250px)/2)
                            margin-top: 65px                            
                        .marker
                            z-index: 2000
                            height: 95px
                            width: 95px
                            border-radius: 50%
                            background-color: #ececec
                            font-family: 'century'
                            box-sizing: border-box
                            color: white 
                            text-align: center
                            font-size: 30px
                            padding-top: 27px
                            cursor: pointer
                            transition: 0.4s
                            @include  m-desk
                                height: 65px
                                width: 65px
                                font-size: 23px
                                padding-top: 20px
                            &.active
                                background-color: black
                        .text
                            height: 75px !important
                            display: flex
                            flex-direction: row
                            flex-wrap: nowrap
                            @include m-desk
                                height: 30px
                            .editable 
                                height: 30px
                                width: 50px
                                text-align: right
                                @include m-desk
                                    height: 23px
                                    width: 35px                                 
                    .abs-cont
                        position: absolute
                        height: 685px
                        width: 685px
                        z-index: 1200
                        .add-butt-cont
                            width: 110px
                            height: 60px
                            position: relative
                            margin: 0px auto
                            margin-top: calc(685px - 60px - 30px)
                            @include m-desk
                                height: 50px
                                margin-top: calc(450px - 50px - 20px)
                            input[type="file"]
                                z-index: 500
                                width: 110px
                                height: 55px
                                position: absolute
                                opacity: 0 
                                cursor: pointer !important
                            .camera-icon
                                z-index: 400
                                cursor: pointer
                                margin: 0px auto
                                position: relative
                                width: 40px
                                height: 40px
                                @include m-desk
                                    width: 35px
                                    height: 35px
                                img
                                    height: 100%
                                    width: 100%
                            .text
                                z-index: 400
                                cursor: pointer
                                height: 20px
                                width: 100%
                                text-align: center
                                font-size: 13px
                                font-family: 'stolzl-l'
                                @include m-desk
                                    font-size: 12px
                                    height: 15px 
                        @include m-desk
                            width: 450px
                            height: 450px                    
                    .markers
                        height: 75px
                        margin: 0px auto
                        top: 50px
                        position: relative
                        z-index: 1100
                        display: flex
                        justify-content: space-between
                        &.full
                            width: 270px
                        &.twin
                            width: 180px
                        &.single
                            width: 75px
                        .marker
                            height: 75px
                            width: 75px
                            border-radius: 50%
                            transition: 0.4s
                            user-select: none
                            background-color: black
                            border-radius: 50%
                            color: white
                            text-align: center
                            box-sizing: border-box
                            word-wrap: nowrap
                            font-size: 20px
                            padding-top: 25px
                            font-family: 'century'                                                
                    .big-img
                        top: 0px 
                        z-index: 1000
                        position: absolute
                        height: 685px
                        width: 685px
                        @include m-desk
                            width: 450px
                            height: 450px                          
                            cursor: pointer

                    img::ng-deep
                        height: 685px
                        width: 685px
                        @include m-desk
                            width: 450px
                            height: 450px                                                  
                .small-slider
                    width: 685px
                    height: 170px
                    position: relative
                    top: 15px 
                    @include m-desk
                        width: 450px
                        height: 125px
        .desc-cont
            width: 100%
            height: 100%
            .data-box
                width: 420px
                height: 765px
                // background-color: #ececec
                margin-left: 40px
                top: 45px
                position: relative
                @include m-desk
                    top: 25px
                    width: 380px
                .title, .price-input
                    // font-size: 48px
                    font-family: 'century'
                    .sale 
                        color: #D96463
                        font-size: 32px 
                        font-family: 'stolzl'
                .price-input
                    margin-top: 20px
                    @include m-desk
                        margin-top: 12px
                .type-cont
                    height: 25px
                    width: 100%
                    display: flex 
                    flex-direction: row 
                    flex-wrap: nowrap
                    margin-top: 20px
                    .bond-select
                        border-radius: 0px
                        border: 0px solid black
                        font-size: 14px
                        border-bottom: 1px solid black
                        font-family: 'helvetica'
                        width: 150px
                        background-color: white
                        -moz-appearance: none 
                        -webkit-appearance: none
                        appearance: none     
                        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+)               
                        background-repeat: no-repeat
                        background-position: 130px 0px
                        .placeholder
                            color: grey
                        .arrow
                            position: absolute
                            height: 5px
                            width: 10px 
                            background-color: grey
                            margin-top: 4px
                            margin-left: 130px
                    .label
                        width: 150px
                        height: 20px
                        font-size: 16px 
                        font-family: 'stolzl'

                .price
                    display: flex
                    flex-direction: row
                    width: 100%
                    height: 47px
                    margin-top: 30px
                    span 
                        font-family: 'stolzl'
                        font-size: 48px
                        &.old 
                            text-decoration: line-through
                            color: #8B8B8B
                        &.new
                            padding-left: 30px
                    .rub
                        padding-top: 7px
                        margin-left: 10px
                        height: 36px
                        width: 36px
                        position: relative
                        img
                            height: 100%
                            width: 100%
                .entered-data
                    width: 100%
                    height: auto
                    position: relative
                    margin-top: 10px
                .line-inputs
                    height: 40px 
                    width: 100%
                    position: relative
                    margin-top: 20px
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    .half
                        position: relative
                        top: 0px
                        width: calc(45% - 25px)
                        height: 40px
                        &.left
                            margin-left: 10%
                    .add-butt-el
                        position: relative
                        top: 0px                    
                        margin-left: 15px
                        margin-top: 10px
                        height: 30px 
                        width: 30px 
                        background-color: black
                        border-radius: 50%
                        cursor: pointer
                        &:hover
                            .plus 
                                transform: scale(0.9, 0.9)
                        .plus
                            transition: 0.4
                            height: 15px
                            width: 15px
                            margin: 0px auto
                            top: 8px
                            position: relative
                            user-select: none
                            img
                                height: 100%
                                width: 100%

                .subtit
                    margin-top: 30px
                    font-family: 'stolzl'
                    height: 24px
                    font-size:  24px
                    font-weight: 900
                    display: flex
                    flex-direction: row
                    @include m-desk
                        font-size: 19px 
                        height: 19px
                        margin-top: 15px
                    .table
                        width: 180px
                        font-family: 'helvetica'
                        color: #8F8F8F
                        display: flex
                        justify-content: space-between
                        padding-left: 20px
                        cursor: pointer
                        .text
                            font-size: 17px
                            padding-top: 10px
                        .icon 
                            top: 4px
                            height: 19px 
                            width: 14px
                            position: relative
                            img 
                                height: 100%
                                width: 100% 

                .sizes-cont
                    min-height: 28px
                    height: auto    
                    width: 100%
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    // background-color: #ececec
                    margin-top: 20px
                    position: relative
                    .add-part
                        position: relative
                        height: 28px
                        width: 28px
                        background-color: white 
                        border-radius: 5px
                        border: 1px solid black 
                        box-sizing: border-box
                        cursor: pointer
                        position: relative
                        @include m-desk
                            height: 23px
                            width: 23px
                        &.rotated
                            .plus
                                transform: rotateZ(-45deg)
                        .plus
                            transition: 0.5s
                            position: relative
                            width: 17px
                            height: 17px
                            top: calc((28px - 17px)/2 - 1px)
                            user-select: none
                            margin: 0px auto
                            @include m-desk
                                height: 13px 
                                width: 13px 
                                top: calc((23px - 13px)/2)
                            img
                                height: 100%
                                width: 100%                   
                    .sizes            
                        width: calc(100% - 28px)
                        .size
                            @for $i from 1 through 7
                                &:nth-child(#{$i})
                                    margin-top: 0px !important                        
                    .picker
                        background-color: #F8F5F7
                        position: absolute
                        height: 130px
                        width: 250px
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
                        margin-left: 35px
                        z-index: 600
                        @include m-desk
                            height: 90px
                            width: 220px
                        .sizes-pic
                            margin-left: 5px
                            display: flex
                            min-height: 28px
                            flex-direction: row
                            flex-wrap: wrap
                            height: auto
                            width: 240px
                            position: relative
                            transition: 0.4s
                            @include m-desk
                                width: 200px
                            .size
                                &:hover
                                    background-color: #ececec                        
                        .close
                            position: absolute
                            height: 10px
                            width: 20px 
                            font-size: 14px
                            font-family: 'stolzl-l'
                            top: 100px
                            right: 20px
                            @include m-desk
                                font-size: 12px
                                top: 65px      
                                right: 15px                  

                .colors-cont
                    min-height: 38px
                    height: auto    
                    width: 100%
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    // background-color: #ececec
                    margin-top: 20px
                    position: relative
                    @include m-desk
                        min-height: 30px
                        margin-top: 15px 
                    .add-part
                        position: relative
                        height: 38px
                        width: 38px
                        background-color: white 
                        border-radius: 50%
                        border: 1px solid black 
                        box-sizing: border-box
                        cursor: pointer
                        position: relative
                        transition: 0.5s
                        @include m-desk
                            transition: 0.5s
                            height: 30px
                            width: 30px
                        &.rotated
                            .plus
                                transform: rotateZ(-45deg)
                        .plus
                            position: relative
                            width: 17px
                            height: 17px
                            top: calc((38px - 17px)/2 - 1px)
                            user-select: none
                            margin: 0px auto
                            transition: 0.5s
                            @include m-desk
                                top: calc((29px - 14px)/2)
                                width: 14px
                                height: 14px
                            img
                                height: 100%
                                width: 100%                   
                    .colors            
                        width: calc(100% - 38px)
                        @include m-desk
                            width: calc(100% - 30px)
                        .color
                            @for $i from 1 through 7
                                &:nth-child(#{$i})
                                    margin-top: 0px !important
                    .picker
                        background-color: #F8F5F7
                        position: absolute
                        height: 140px
                        width: 250px
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
                        margin-left: 50px
                        z-index: 600
                        @include m-desk
                            height: 120px
                            width: 200px
                        .close
                            position: absolute
                            height: 10px
                            width: 20px 
                            font-size: 14px
                            font-family: 'stolzl-l'
                            top: 110px
                            right: 20px
                            @include m-desk
                                font-size: 12px
                                top: 90px
                        .colors-pic
                            display: flex
                            min-height: 38px
                            flex-direction: row
                            flex-wrap: wrap
                            height: auto
                            width: 240px
                            position: relative
                            @include m-desk
                                width: 190px

                .colors, .sizes
                    display: flex
                    flex-direction: row
                .size 
                    height: 28px 
                    width: 28px
                    box-sizing: border-box
                    // border: 1px solid #787878
                    text-align: center
                    border-radius: 2px
                    font-size: 14px
                    color: black
                    padding-top: 8px
                    font-family: 'helvetica'
                    cursor: pointer
                    user-select: none
                    transition: 0.3s   
                    margin-top: 10px
                    margin-left: 10px
                    @include m-desk
                        padding-top: 5px
                        font-size: 14px
                        width: 23px
                        height: 23px
                        margin-top: 9px
                        margin-left: 9px
                    &.active
                        color: black
                        border: 1px solid black                                             

                .color
                    margin-top: 12px
                    height: 38px
                    width: 38px 
                    background-color: grey 
                    border-radius: 50%
                    border: 1px solid black 
                    box-sizing: border-box
                    cursor: pointer
                    margin-left: 15px
                    position: relative
                    @include m-desk
                        width: 30px
                        height: 30px
                    .delete
                        height: 17px
                        width: 17px
                        margin: 0px auto
                        position: relative
                        top: calc((38px - 17px)/2 - 1px)
                        @include m-desk
                            height: 12px
                            width: 12px
                            top: calc((30px - 12px)/2)
                    img
                        height: 100%
                        width: 100%
                        opacity: 0
                        transition: 0.3s                        
                    // &:not(:nth-child(1))
                    //     margin-left: 23px
                    &.active
                        border: 1px solid #A3A3A3
                        img
                            opacity: 1
                            // margin-top:  px
                            // margin-left: -2px                            
                    &.red
                        background-color: #B83939
                    &.white
                        background-color: white
                    &.bej
                        background-color: #CCB6A7
                    &.blue
                        background-color: #1C2F4C
                    &.violet
                        background-color:  #4D4C72
                    &.black
                        background-color: black                            
                .colors
                    flex-wrap: nowrap
                    min-height: 38px
                    height: auto
                .sizes
                    flex-wrap: wrap
                    height: auto 
                 
                .params
                    margin-top: 11px
                    .param
                        font-size: 15px
                        padding-top: 2px
                        font-family: 'stolzl'
                        transition: 0.4s
                        border: 10px
                        @include m-desk
                            font-size: 13px
                        &:hover
                            background-color: #ececec
                            .delete
                                display: block
                        span
                            font-weight: 100
                            font-family: 'helvetica'
                        .delete
                            display: none
                            position: absolute
                            right: 5px
                            margin-top: -14px 
                            &:hover
                                cursor: pointer
                            @include m-desk
                                width: 12px
                                height: 12px
                            img
                                height: 100%
                                width: 100%
                .info-except
                    padding-top: 60px
                    font-size: 30px
                    text-align: center 
                    font-family: helvetica
                    color: #8B8B8B
                .desc
                    margin-top: 30px
                    font-size: 13px
                    line-height: 17px
                    font-family: 'stolzl'
                    text-align: justify
                    height: 60px
                    overflow-y: auto
                    &.opened
                        height: 80px
                .more
                    margin-top: 5px
                    font-size: 13px
                    font-weight: 600
                    font-family: 'stolzl'
                    cursor: pointer
                    &:hover
                        text-decoration: underline
                textarea
                    width: calc(100% - 5px)
                    margin-top: 20px
                    resize: none
                    border: 0.5px solid #000000
                    font-family: 'stolzl'
                    outline: none
                button[disabled=disabled], button:disabled 
                    background-color: grey
                    cursor: default 
                    &:hover
                        .cont
                            transform: scale(1,1)                     
                .remove-butt
                    background-color: #BFBFBF !important
                    .text
                        text-align: center
                        padding-top: 10px
                .add-butt, .remove-butt
                    margin-top: 15px
                    width: 100%
                    height: 60px
                    position: relative
                    background-color: black
                    border: 0px solid black
                    cursor: pointer
                    user-select: none
                    @include m-desk
                        height: 45px
                    &:hover
                        .cont
                            transform: scale(1.1,1.1)
                    .cont
                        transition: 0.3s
                        width: 175px
                        height: 25px
                        margin: 0px auto
                        position: relative
                        top: 6px
                        .text
                            font-size: 18px
                            // padding-top: 6px
                            color: white
                            font-family: 'helvetica'
                            width: auto

                .one-click
                    font-size: 14px 
                    text-decoration: underline
                    font-family: 'helvetica'
                    padding-top: 10px
                    cursor: pointer

    .arrows
        z-index: 3050
        position: absolute
        width: 100%
        height: 45px
        top: calc((100% - 45px)/2)
        .arrow
            cursor: pointer
            height: 45px
            width: 22px
            position: absolute
            transition: 0.4s
            &:hover
                transform: scale(1.1,1.1)
            img
                height: 100%
                width: 100%
            &.left
                left: 50px
            &.right
                right: 50px


binput::ng-deep
    .input-group
        margin-top: -10px !important
    .placeholder
        margin-top: -12px !important
