<dialog-window [text]="'Товар успешно создан!'" [open]="isUpdated" (accepted)="redirect()">
</dialog-window>


<size-table [openTable]="openTable" (detectClose)="openTable = false"></size-table>

<div class="background">
    <img src="../../assets/images/texture.png">

    <div class="close">
        <a routerLink="/catalog">
            <img src="../../assets/icons/close.svg">
        </a>
    </div>


    <div class="info-cont">
        <form enctype="multipart/form-data" [formGroup]="complexForm" (ngSubmit)="onSubmit(complexForm.value)" (keydown.enter)="$event.preventDefault()">
    
            <div class="images-cont">
                <div class="sliders">
                    <div class="main-slider">
                        <div class="markers-cont">
                            <div class="marker" *ngFor="let marker of markers"
                                (click)="activateMarker(marker)"
                                [ngClass]="[
                                    marker.active && marker.type != 'sales' ? 'active':'',
                                    complexForm.value.sale > 0 && marker.type == 'sales' ? 'active':'' 
                                ]"
                            >
                                <div *ngIf="marker.type != 'sales'">
                                    {{ marker.text }}
                                </div>
                                <div *ngIf="marker.type == 'sales'" class="text">
                                    <div class="editable" 
                                        contenteditable="true"
                                        [formControl]="complexForm.controls['sale']"
                                        (ngModelChange)="saleChange()"
                                    >
                                        {{ complexForm.value['sale'] }} 
                                    </div>
                                    <span>%</span>
                                </div>                                
                            </div>
                        </div>

                        <div class="big-img" *ngIf="activeImage">
                            <img *ngIf="activeImage.image" src="{{host}}{{activeImage.image.url}}" >
                        </div>

                        <div class="abs-cont">
                            <div class="add-butt-cont">
                                <input type="file" name="shoe-loader" (change)="onFileChanged($event)">
                                <div class="camera-icon">
                                    <img src="../../assets/icons/camera.svg">
                                </div>
                                <div class="text">Добавить фото <sup>*</sup></div>
                            </div>
                        </div>
                    </div>

                    <div class="small-slider">
                        <ngx-slick class="small-carousel" #slickModal="slick-modal" [config]="smallSliderConfig" (afterChange)="afterChange($event)">
                            <div ngxSlickItem *ngFor="let image of loadedFiles" class="slide">
                                <div class="img">
                                    <img  draggable="false"  src="{{host}}{{image.image.url}}" >
                                </div>
                                <div class="delete" (click)="deleteImg(image)">
                                    <div class="icon">
                                        <img src="../../assets/icons/close.svg">
                                    </div>
                                </div>
                            </div>
                        </ngx-slick>  
                    </div>
                </div>
            </div>

            <div class="desc-cont">
                <div class="data-box">
                    <div class="title">
                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Название модели'" [field]="'title'" [type]="'text'" [name]="'title'" [fontSize]="20"></fcinput>                        
                    </div>

                    <div class="type-cont">
                        <div class="label">Тип обуви <sup>*</sup>: </div>
                        <select class="bond-select" [formControl]="complexForm.controls['type_id']" >
                            <div class="arrow"></div>
                            <option class="placeholder" disabled selected value> Выберите </option>
                            <option *ngFor="let type of types" value="{{ type.id }}">
                                {{ type.name }}
                            </option>
                        </select>
                    </div>

                    <div class="price-input">
                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Цена'" [field]="'price'" [type]="'text'" [name]="'price'" [fontSize]="20"></fcinput>   
                    </div>

                    <div class="subtit">
                        Цвета <sup>*</sup>
                    </div>

                    <div class="colors-cont">
                        <div class="add-part" (click)="openColorPicker()"
                            [ngClass]="[openedColorPicker ? 'rotated':'']"
                        >
                            <div class="plus">
                                <img src="../../assets/icons/splus.svg">
                            </div>
                        </div>
                        <div class="colors">
                            <div *ngFor="let color of colors"> 
                                <div *ngIf="color.active" class="color" class="color"
                                    [ngClass]="[
                                        color.active ? 'active':'',
                                        color.name == 'red' ? 'red':'',
                                        color.name == 'white' ? 'white':'',
                                        color.name == 'black' ? 'black':'',
                                        color.name == 'bej' ? 'bej':'',
                                        color.name == 'blue' ? 'blue':'',
                                        color.name == 'violet' ? 'violet':''
                                    ]" (click)="activateColor(color)"
                                >
                                    <div class="delete" *ngIf="color.name != 'white'">
                                        <img draggable="false" src="../../assets/icons/close.svg">
                                    </div>
                                    <div class="delete" *ngIf="color.name == 'white'">
                                        <img draggable="false" src="../../assets/icons/close-bl.svg">
                                    </div>                                     
                                </div>                      
                            </div>
                        </div>
                        <div class="picker" *ngIf="openedColorPicker">
                            <div class="colors-pic">
                                <div *ngFor="let color of colors" class="color"
                                    [ngClass]="[
                                        color.active ? 'active':'',
                                        color.name == 'red' ? 'red':'',
                                        color.name == 'white' ? 'white':'',
                                        color.name == 'black' ? 'black':'',
                                        color.name == 'bej' ? 'bej':'',
                                        color.name == 'blue' ? 'blue':'',
                                        color.name == 'violet' ? 'violet':''
                                    ]" (click)="activateColor(color)"
                                >
                                    <div *ngIf="color.name != 'white'">
                                        <img draggable="false" src="../../assets/icons/check-white.svg">
                                    </div>
                                    <div *ngIf="color.name == 'white'">
                                        <img draggable="false" src="../../assets/icons/check.svg">
                                    </div>                                     
                                </div>
                            </div>

                            <div class="close" (click)="openColorPicker()">Ok</div>
                        </div>
                    </div>

                    <div class="subtit">
                        <div class="sub-el">
                            Размеры <sup>*</sup>
                        </div>
                        <div class="table" (click)="openTable = true">
                            <div class="text">
                                Таблица размеров
                            </div>
                            <div class="icon">
                                <img src="../../assets/icons/table.svg">
                            </div>
                        </div>
                    </div> 

                    <div class="sizes-cont">                        
                        <div class="add-part" (click)="openSizePicker()"
                            [ngClass]="[openedSizePicker ? 'rotated':'']"
                        >
                            <div class="plus">
                                <img src="../../assets/icons/splus.svg">
                            </div>
                        </div>
                        <div class="sizes">
                            <div *ngFor="let size of sizes">
                                <div *ngIf="size.active" [ngClass]="size.active ? 'active':''"  class="size" (click)="activateSize(size)">
                                    {{ size.name }}
                                </div>                         
                            </div>
                        </div>
                        <div class="picker" *ngIf="openedSizePicker">
                            <div class="sizes-pic">
                                <div [ngClass]="size.active ? 'active':''" *ngFor="let size of sizes" class="size" (click)="activateSize(size)">
                                    {{ size.name }}
                                </div>                                
                            </div>
                            <div class="close" (click)="openSizePicker()">Ok</div>
                        </div>
                    </div>

                    <div class="subtit">
                        Информация о товаре
                    </div> 

                    <div class="entered-data">
                        <div class="params" *ngIf="addedAttributes.length > 0">
                            <div class="param" *ngFor="let attr of addedAttributes">
                                {{ attr.key }}: <span>{{ attr.value }}</span>
                                <div class="delete" (click)="deleteParam(attr)">
                                    <img src="../../assets/icons/close-bl.svg">
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="line-inputs">
                        <div class="half">
                            <finput-select [data]="newAttribute" [placeholder]="'Выбирете'" [field]="'key'" [type]="'text'" [name]="'key'" [fontSize]="16" [attributes]="attributes" [action]="action"></finput-select>  
                        </div>

                        <div class="half left">
                            <binput (handleEnter)="addAttribute()" [data]="newAttribute" [placeholder]="'Введите текст'" [field]="'value'" [type]="'text'" [name]="'value'" [fontSize]="16" ></binput>
                        </div>

                        <div class="add-butt-el" 
                            *ngIf="newAttribute['key'].length > 0 && newAttribute['value'].length > 0"
                        >
                            <div class="plus" (click)="addAttribute()">
                                <img src="../../assets/icons/plus.svg">
                            </div>
                        </div>
                    </div>

                    <textarea rows="3" placeholder="Введите текст"
                        [formControl]="complexForm.controls['description']"
                    ></textarea>

                    <button class="add-butt" type="submit" [disabled]="complexForm.invalid" (keydown.enter)="enterKey()">
                        <div class="cont">
                            <div class="text">Добавить модель</div>
                        </div>
                    </button>

                </div>
                    
            </div>

        </form>
    </div>

</div>