<div class="big-lion">
    <img alt="big-lion" src="../../assets/images/big-lion.png">
</div>

<div class="top-models-cont">
    <!-- <div class="mobile-player"></div> -->
    <vg-player >
        <video class="video" [vgMedia]="media" #media id="singleVideo" preload="auto" autoplay muted loop>
            <source src="../../assets/videos/main.mp4" type="video/mp4">
        </video>
        <video class="mobile-video" [vgMedia]="media" #media id="singleVideo" preload="auto" autoplay muted loop>
            <source src="../../assets/videos/main.mp4" type="video/mp4">
        </video>        
    </vg-player>

    <div class="info-cont">
        <div class="shoes">
            <div class="img">
                <img src="../../assets/images/boots-v.png">
            </div>
            <div class="text-cont">
                <div class="texts">
                    <div class="big-text">
                        <img src="../../assets/images/text.png">
                    </div>
                    <div class="sm-text">комфорт от которого сложно отказаться</div>
                </div>
            </div>
        </div>
        <div class="bottom-text-cont" (click)="scroll()">
            <div class="text">Проскольте вниз</div>
            <div class="icon">
                <img src="../../assets/icons/w-polygon.svg">
            </div>
        </div>
    </div>
</div>

 <div class="mini-catalog-cont" #miniCatalog>
    <div class="shoes-cont">
        <div *ngFor="let shoes of shoesList; let i=index" class="left">
            <shoes-el [el]="shoes" *ngIf="i < 8"></shoes-el>
        </div>
    </div>
</div>

<div class="mobile-catalog-cont">
    <div class="main-card">
        <div *ngIf="activeShoe">
            <shoes-el [mobileMinicatalog]="true" [el]="activeShoe"></shoes-el>
        </div>
    </div>
    <div class="slider-cont">
        <ngx-slick class="catalog-carousel" #slickModal="slick-modal" [config]="sliderConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let shoes of shoesList; let i=index" class="slide">
                <div *ngIf="i < 8" class="slide-el">
                    <div class="title">
                        {{ shoes.name }}
                    </div>
                    <img class="img"  draggable="false"  src="{{host}}{{shoes.images[0]}}" >
                </div>
            </div>
        </ngx-slick>          
    </div>
</div>

<div class="team">
    <div class="header">
        <img src="../../assets/images/marmur-02.png" alt="marmur-02">
        <div class="line left"></div>
        <div class="title">Наша команда</div>
        <div class="line right"></div>
    </div>

    <team-slider></team-slider>

    <div class="header mob">
        <img src="../../assets/images/marmur-02.png" alt="marmur-02">        
    </div>
</div>

<div class="grey-block">
    <div class="right-lion">
        <img alt="lion-02" src="../../assets/images/lion-02.png">
    </div>

    <feedback></feedback>
</div>

<footer></footer>
<div class="mobile-empty"></div>