@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1023px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content

$light: #ececec
$grey: #292A2B

.video
    position: absolute
    top: 50%
    left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    transform: translateX(-50%) translateY(-50%)
    background-size: cover
    background-image: image-url('assets/images/main-cover.png')
    @include mobile
        display: none
.mobile-video
    position: absolute
    top: 50%
    left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    transform: translateX(-50%) translateY(-50%)
    background-size: cover
    background-image: image-url('assets/images/main-cover.png')
    display: none
    @include mobile
        display: block        
.big-cont
    overflow-x: hidden
.big-lion
    z-index: 0
    position: absolute
    height: 1650px
    width: 710px
    display: block
    @include m-desk
        width: 500px
        height: 1300px
    @include mobile
        display: none
.top-models-cont
    z-index: 100
    position: relative
    height: 1023px
    width: 100%
    @include m-desk
        height: 650px
    @include mobile
        height: 500px
    img
        height: 100%
        width: 100%
    .info-cont
        top: 0px
        z-index: 500
        background-color: rgba(0,0,0,0.5)
        height: 100%
        width: 100%
        position: absolute
        .shoes
            height: 600px
            width: 1400px
            left: calc((100% - 1400px)/2)
            position: absolute
            margin-top: 230px
            display: flex
            flex-direction: row
            justify-content: space-between
            flex-wrap: nowrap
            @include m-desk
                margin-top: 130px
                width: 900px
                height: 480px
                left: calc((100% - 900px)/2)
            @include mobile
                width: 280px
                margin-top: 20px
                left: calc((100% - 280px)/2)
                height: 300px
                flex-direction: column
            .img
                user-select: none
                height: 600px
                min-width: 700px
                max-width: 700px
                @include m-desk
                    height: 400px
                    min-width: 480px
                    max-width: 480px
                @include mobile
                    height: 280px
                    min-width: 300px
                    max-width: 300px
                img
                    height: 100%
                    width: 100%
        .text-cont
            width: 100%
            height: 100%
            position: relative
            .texts
                width: 580px
                height: 175px
                position: absolute
                left: calc((100% - 580px)/2)
                top: calc((100% - 175px)/2)
                @include m-desk
                    width: 400px
                    height: 130px 
                    left: calc((100% - 300px)/2)
                    top: calc((100% - 120px)/2) 
                @include mobile
                    width: 210px
                    height: 100px 
                    position: relative
                    left: calc((100% - 210px)/2)
                    top: 0px                 
                .big-text
                    width: 588px
                    user-select: none
                    height: 120px
                    @include m-desk
                        width: 400px
                        height: 95px
                    @include mobile
                        width: 210px   
                        height: 50px                     
                .sm-text
                    user-select: none
                    font-family: 'tenor'
                    text-align: center
                    font-size: 25px
                    padding-left: 50px
                    padding-right: 50px 
                    color:  white
                    @include m-desk
                        padding-left: 75px
                        padding-right: 75px
                        font-size: 12px
                    @include mobile
                        font-size: 11px
        .bottom-text-cont
            cursor: pointer
            height: 35px
            width: 125px 
            position: absolute
            bottom: 20px
            left: calc((100% - 125px)/2)
            transition: 0.4s
            @include mobile
                bottom: 10px
            &:hover
                transform: scale(1.1,1.1)
            .text 
                font-size: 14px 
                font-family: 'tenor'
                color: white
                text-align: center
                @include mobile
                    font-size: 10px
            .icon
                height: 20px
                width: 20px
                position: relative
                margin: 0px auto
                margin-top: 3px
                @include mobile
                    height: 9px 
                    width: 9px
.mobile-catalog-cont
    width: 100%
    height: auto
    display: none
    @include mobile
        display: block
    .main-card
        top: 35px
        height: 325px
        width: 320px
        position: relative
        margin: 0px auto
    ngx-slick::ng-deep
        .slick-active
            background-color:  #F8F5F7 !important
        .slick-list
            height: 128px
        // .slick-frame.slick-initialized
        //     visibility: visible
    .slider-cont
        height: 145px
        width: 100%
        position: relative
        margin-top: 57px
        .catalog-carousel
            height: 128px 
            width: 100%
        .slide 
            height: 125px 
            min-width: 125px
            max-width: 125px 
            background-color: #F8F5F7
            text-align: center
            margin-left: 10px
            box-shadow: 1.3px 1.3px 3.5px rgba(0, 0, 0, 0.25)
            .title
                position: absolute
                text-align: center
                font-size: 13px 
                font-family: 'century'
                width: 125px
                padding-top: 2px
            img 
                height: 125px 
                width: 125px

.mini-catalog-cont
    z-index: 100
    height: 800px
    position: relative
    width: 100%
    top: 0px
    @include m-desk
        height: 600px
    @include mobile
        display: none
    .shoes-cont
        height: 620px
        width: 1285px
        position: relative
        top: 70px
        margin: 0px auto
        display: flex
        flex-direction: row
        flex-wrap: wrap
        // justify-content: space-between
        @include m-desk
            width: 1000px
            height: 450px
            top: 35px
.team
    z-index: 100
    position: relative
    height: 740px
    width: 100% 
    @include m-desk
        height: 565px
    @include mobile
        height: 475px
    .header
        height: 137px
        width: 100%
        position: relative
        top: 0px
        &.mob 
            display: none
            @include mobile
                display: block
        @include m-desk
            height: 90px
        @include mobile
            height: 65px
        img
            position: absolute
            height: 100%
            width: 100%
        .title
            font-size: 48px
            color: white
            line-height: 34px
            width: 100%
            position: absolute
            height: 72px
            text-align: center
            font-family: 'tenor'
            padding-top: 53px
            @include m-desk
                padding-top: 35px
                font-size: 34px
                line-height: 27px
                height: 45px
            @include mobile
                font-size: 24px
                padding-top: 26px
                line-height: 17px 
        .line 
            height: 1px
            width: 635px
            background-color: white
            position: absolute
            margin-top: 44px
            @include m-desk
                width: 450px
            @include mobile
                width: calc((100% - 210px)/2)
                margin-top: 33px
            &.left
                left: 0px
            &.right
                right: 0px

.grey-block
    background-color: $grey
    width: 100%
    height: 1200px
    top: 0px 
    position: relative
    z-index: 900
    @include m-desk
        top: 100px
        height: 850px
    @include mobile
        height: auto
        padding-bottom: 150px
        top: 100px
    .right-lion
        height: 1010px
        width: 435px
        position: absolute
        right: 0
        @include mobile
            display: none
        img
            height: 100%
            width: 100%

.mobile-empty
    display: none
    height: 50px 
    width: 100%
    position: relative
    @include mobile
        display: block

.left::ng-deep 
    margin-left: 20px
    @include mobile
        margin-left: 10px 
// .left:nth-child(1)
        // margin-left: -10px !important
.left:nth-child(odd)
    // margin-left: 20px
    @include mobile
        margin-left: 10px !important
    