<div class="body">
    <div class="content">
        <div class="lion">
            <img src="../../assets/images/lion.png">
        </div>
        <div class="lion right">
            <img src="../../assets/images/lion.png">
        </div>

        <div class="text-block">
            <div class="big">
                Данные разделы находятся в разработке. 
            </div>
            <div class="small">
                Скоро вас ждет раздел:
            </div>  
            <div class="small">
                “Акции”
            </div>
        </div>
    </div>
    <footer></footer>
</div>