@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content


.body
    overflow-y: hidden
    position: absolute
    height: calc(100% - 230px)
    width: 100%
    background-color: #292A2B
    @include m-desk
        height: calc(100% - 165px)
    @include mobile
        height: 100%
    .content
        width: 100%
        height: calc(100% - 150px)
        @include m-desk
            height: calc(100% - 100px)
        .text-block
            height: 250px
            width: 900px
            margin: 0px auto
            top: calc((100% - 250px)/2)
            position: relative
            @include mobile
                width: 250px
                top:   calc((100% - 120px)/2)
                height: 120px  
            @include m-desk
                top: calc((100% - 150px)/2)
            .big, .small
                color: white
                font-family: 'tenor'
                text-align: center
            .big
                padding-left: 40px
                padding-right: 40px
                font-size: 45px 
                @include mobile
                    font-size: 20px
            .small
                padding-top: 4px
                font-size: 17px 
                @include mobile
                    font-size: 14px
                &:nth-child(2)
                    padding-top: 45px
                    @include mobile
                        padding-top: 14px
        .lion 
            position: absolute
            height: 525px
            margin-top: 50px 
            width: 225px
            @include m-desk
                height: 350px
                margin-top: 50px
                width: 150px
            @include mobile
                width: 135px
                height: 315px  
            &.right
                right: 0px
                img
                    transform: rotateY(180deg)
            img
                height: 100%
                width: 100%

footer::ng-deep
    @include mobile 
        display: none
