<dialog-window [text]="'Пользователь успешно создан'" [open]="isRegistered" (accepted)="redirect()">
</dialog-window>

<dialog-window [text]="'Пользователь с таким email уже существует или неверно введеный email'" [open]="isFailed" (accepted)="isFailed = false">
</dialog-window>

<div class="container">
    <div class="body">
        <div class="lion">
            <img src="../../assets/images/lion.png">
        </div>
        <div class="lion right">
            <img src="../../assets/images/lion.png">
        </div>

        <div class="form-cont">
            <div class="title">Регистрация</div>    
            <form class="form" [formGroup]="complexForm" (ngSubmit)="onSubmit(complexForm.value)">
                <div class="form-flex">
                    <div class="half">
                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Имя'" [field]="'name'" [type]="'text'" [name]="'name'"></fcinput>                         
                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Фамилия'" [field]="'last_name'" [type]="'text'" [name]="'last_name'"></fcinput>

                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'E-mail'" [field]="'email'" [type]="'text'" [name]="'email'"></fcinput>     

                        <fcinput [required]="true" [data]="complexForm.controls" [placeholder]="'Пароль'" [field]="'password'" [type]="'password'" [name]="'password'"></fcinput>
                        
                        <div class="error-label"
                            *ngIf="complexForm.controls['password'].invalid &&
                                (complexForm.controls['password'].dirty || complexForm.controls['password'].touched)
                            "
                        >
                            Длина пароля должна быть больше, чем 8 символов 
                        </div>                                

                        <fcinput  [required]="true" [data]="complexForm.controls" [placeholder]="'Подтвердите Пароль'" [field]="'confirm_password'" [type]="'password'" [name]="'confirm_password'"></fcinput> 

                        <div class="error-label"
                            *ngIf="complexForm.controls['password'].value.length > 0 && complexForm.controls['confirm_password'].value.length && complexForm.controls['confirm_password'].hasError('NoPassswordMatch')"
                        >
                            Пароль не совпадает 
                        </div>                                                                                           
                    </div>
                    <div class="half">
                        <div class="personal-box">
                            <ctrl-check-box (update)="confirm($event)" [state]="complexForm.controls" [field]="'confirmedAccess'"></ctrl-check-box>
                            <div class="text">
                                Я согласен на обработку моих персональных данных <sup>*</sup>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" [disabled]="complexForm.invalid" class="submit">Зарегестрироваться</button>
                <div class="link">
                    <a routerLink="/logIn" >
                        Войти
                    </a>                
                </div> 
            </form>
        </div>        
    </div>
    <footer></footer>
</div>