@mixin l-desk
  @media screen and (min-width: 1368px)
    @content  

@mixin m-desk
  @media screen and (min-width: 1281px) and (max-width: 1550px)
    @content

@mixin sm-desk
  @media screen and (min-width: 1025px) and (max-width: 1280px)
    @content

@mixin tablet
    @media screen and (min-width: 641px) and (max-width: 1024px)
        @content

@mixin mobile
    @media screen and (min-width: 300px) and (max-width: 1024px)
        @content
    
@mixin smobile
    @media screen and (max-width: 320px)
        @content


a
    text-decoration: none !important
    color: black !important
.container
    position: absolute
    height: calc(905px)
    width: 100%
    @include m-desk
        height: 600px
    @include mobile
        top: 0px 
        z-index: 2000
    .body
        top: -65px
        z-index: 100
        height: calc(100% + 100px)
        width: 100%
        position: relative
        background-color: #292A2B
        .form-cont
            margin: 0px auto
            background-color: white
            position: relative
            width: 1460px
            height: 700px
            top: 140px
            @include m-desk
                width: 900px 
                height: 525px
            @include mobile
                width: 320px                
            .title
                color: black
                padding-top: 25px
                font-family: 'stolzl'
                font-size: 34px
                text-align: center
                @include m-desk
                    font-size: 25px
                    padding-top: 20px
                @include mobile
                    font-size: 22px
            form
                height: auto
                width: 1082px
                margin: 0px auto
                margin-top: 50px
                @include m-desk
                    margin-top: 20px
                    width: 700px
                @include mobile
                    width: 180px
                .form-flex
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    justify-content: space-between
                    position: relative
                    width: 1082px 
                    @include m-desk
                        width: 700px 
                    @include mobile
                        flex-direction: column
                        flex-wrap: wrap
                        width: 180px                                      
                .half
                    position: relative
                    height: auto
                    width: 429px
                    @include m-desk
                        width: 300px
                    @include mobile
                        width: 180px                        
                    .error-label
                        padding-top: 10px
                        color: #D96463
                        font-size: 15px 
                        font-family: 'stolzl-l'
                        @include m-desk
                            padding-top: 7px
                            font-size: 11px
                    .personal-box
                        display: flex 
                        flex-direction: row
                        flex-wrap: nowrap
                        width: 100%
                        height: 40px
                        justify-content: space-between 
                        // background-color: #ececec
                        margin-top: calc((100% - 40px)/2)
                        @include m-desk
                            margin-top: calc((100% - 20px)/2)
                        @include mobile
                            margin-top: 40px
                        ctrl-check-box::ng-deep
                            margin-top: 5px
                        .text
                            font-family: 'stolzl-l'
                            font-size: 16px
                            color: black
                            width: 380px
                            @include m-desk
                                font-size: 13px
                                width: 250px
                            @include mobile
                                width: 140px
                                font-size: 12px
                button[disabled=disabled], button:disabled 
                    background-color: grey
                    cursor: default                              
                .submit 
                    height: 50px
                    width: 420px
                    background-color: black
                    color: white
                    text-align: center
                    box-sizing: border-box
                    padding-top: 7px
                    font-size: 17px
                    // margin: 0px auto
                    margin-left: calc((100% - 420px)/2)
                    margin-top: 50px
                    font-family: 'stolzl-l'
                    cursor: pointer
                    user-select: none
                    border: 0px solid black   
                    @include m-desk
                        margin-top: 35px
                        height: 40px
                        padding-top: 5px
                        font-size: 15px 
                    @include mobile
                        width: 180px  
                        margin-left: 0px
                        font-size: 13px
                        padding-top: 
                        height: 36px
                        padding-top: 5px      
                .link 
                    height: 20px
                    margin: 0px auto
                    margin-top: 25px
                    font-size:  17px
                    width: 420px !important                    
                    color: #3f3f3f
                    text-align: center
                    font-family: 'helvetica'
                    @include m-desk
                        font-size: 15px
                        margin-top: 15px
                    @include mobile
                        font-size: 14px
                        width: 180px !important

        .lion
            position: absolute
            // background-color: grey
            top: 100px
            height: 700px
            width: 300px
            &.right
                right: 0
                img
                    transform: rotateY(180deg)
            img
                height: 100%
                width: 100%

    footer::ng-deep
        margin-top: -75px
        @include m-desk
            margin-top: -50px
    fcinput ::ng-deep
        .input-group
            margin-top: 25px
            @include m-desk
                margin-top: 15px