/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
    font-family: 'tenor';
    src: url('assets/fonts/TenorSans-Regular.ttf');    
}

@font-face{
    font-family: 'century';
    src: url('assets/fonts/Century.ttf');    
}

@font-face{
    font-family: 'helvetica';
    src: url('assets/fonts/Helvetica.otf');    
}

@font-face{
    font-family: 'helvetica-l';
    src: url('assets/fonts/Helvetica-Light.ttf');    
}

@font-face{
    font-family: 'helvetica-o';
    src: url('assets/fonts/Helvetica-Oblique.ttf');    
}

@font-face{
    font-family: 'tenor';
    src: url('assets/fonts/TenorSans-Regular.ttf');    
}

@font-face{
    font-family: 'stolzl-b';
    src: url('assets/fonts/stolzl-bold.otf');    
}

@font-face{
    font-family: 'stolzl';
    src: url('assets/fonts/stolzl-regular.otf');    
}

@font-face{
    font-family: 'stolzl-l';
    src: url('assets/fonts/stolzl-light.otf');    
}

@font-face{
    font-family: 'stolzl-normal';
    src: url('assets/fonts/stolzl-book.otf');    
}

@font-face{
    font-family: 'roboto-l';
    src: url('assets/fonts/Roboto-Light.ttf');    
}


body, html{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
}

.page {
    display: block;
}

.page__first {
    margin-bottom: 100px;
}

.page__contacts {
    margin-top: 90px;
}
